<div role="listbox" aria-label="Navigazione nascosta per screen reader" id="idDivToContPrin" tabindex="-1"></div>
<div aria-relevant="true">    
    <a href='#principal-div-id'  
       class="skip-link" 
       role="listitem" 
       id="idAnchorToContPrin">Vai al contenuto principale</a>                                
</div>
<div class="principal-div" id="principal-div-id" name="principal-div-id">
  <div class="card card-primary center-default">
    <div class="card-header text-white">      
      <h1 class="h1-font"><strong>Elenco</strong> - pratiche accreditamento</h1>
    </div>
    <form #ricercaDichiarante="ngForm" (ngSubmit)="onSubmit()">
      <div class="panel-body" role="main">
        <div class=" form-group col-lg-12">
                            <div class="form-group col-lg-12">
                                <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>

                                <!--Table-->
                                <table [style.display]="!loaderDT ? '' : 'none' " id="elenco-soggetti"
                                    class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%">
                                    <!--Table head-->
                                    <thead>
                                        <tr>                                      
                                       		  <th>Id Pratica</th>
                                            <th >Stato</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>

                                    <!--Table Body-->
                                    <tbody>
                                        <!--Ciclo su leneco pratiche-->
                                        <tr class="pointer" *ngFor="let el of elencoPratiche">
                                            <!--Id Pratica-->                                      
                                            <td>{{ el.idPratica }}</td>
                                            <!--Stato-->
                                            <td>{{ el.stato }}</td>
                                            <!--Note-->
                                            <td>{{ el.note }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
      </div>
        <div class="bs-example" data-example-id="single-button-dropdown">
            <div class="form-group row col-lg-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">                            
                </div>
            </div>
        </div>
    </form>
  </div>
</div>