<div class="principal-div">
    <div class="card card-primary center-default">
        <div class="card-header text-white">
            <strong>Gestione Documento</strong></div>
        <form #praticaAccreditamento="ngForm">
            <sigas-alert [message]="'Gestione documentazione '"
                         [type]="'INFO'">
            </sigas-alert>
            <div class="card-body container">
                <sigas-alert *ngIf="showMessage" [message]="message" [type]="levelMessage"></sigas-alert>
                <sigas-alert *ngIf="showMessageError" [message]="messageError" [type]="'DANGER'"></sigas-alert>

                <div class=" form-group col-lg-12">
                    <div class="form-group col-lg-12">
                        <sigas-spinner-form *ngIf="loaderDT" [diameter]="30"></sigas-spinner-form>
                        <div *ngIf="!loaderDT" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                                data-target="#collapseOne" data-toggle="collapse">
                                            Dati Documento Principale
                                        </button>
                                    </h5>
                                </div>

								<!-- DATI DOCUMENTO -->
                                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                                     id="collapseOne">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-8 hight">
                                                <!--cognome-->
                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-5 offset-lg-1 col-form-label">Azienda:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.anagraficaSoggettoVO.denominazione}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--cognome-->
                                                <!--nome-->
                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-5 offset-lg-1 col-form-label">Data:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.dataProtocollazione | date :'dd/MM/yyyy'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--nome-->
                                                <!--codiceFiscale-->
                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-5 offset-lg-1 col-form-label">Annualità:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.annualita}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--codiceFiscale-->

                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-5 offset-lg-1 col-form-label">Protocollo:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.nprotocollo}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-5 offset-lg-1 col-form-label">Protocollo di
                                                        riferimento:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.rifArchivio}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group border-botton row">
                                                    <label class="col-lg-3 offset-lg-1 col-form-label">Nome
                                                        File:</label>
                                                    <div class="col-lg-6 col-value">
                                                        <div>
                                                            {{documentoToSave.nomeFile}}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-success mb-1"
                                                           download="{{ documentoToSave.nomeFile }}"
                                                           href="{{this.documentazioneService.getUrlScaricaDocumentoMaster()+documentoToSave.idDocumento}}"
                                                           style="width: 100px;height: 30px;">Scarica </a>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-7 offset-lg-1 hight">
                                                        <div class="form-group ">
                                                            <label class="col-lg-4 offset-lg-1 col-form-label">Note:</label>
                                                            <div class="col-lg-12 col-value">
									                        <textarea [(ngModel)]="documentoToSave.note" [ngModelOptions]="{standalone: true}"
                                                                      class="note-textarea" disabled="true"
                                                                      rows="4">
									                        </textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 hight">
                                                        <div class="form-group row">
                                                            <div class="col-lg-8">
                                                                <a *ngIf="documentoToSave.sigasAllegatos && documentoToSave.sigasAllegatos.length != 0"
                                                                   class="btn btn-success"
                                                                   download="{{documentoToSave.tipoDocumentoVO.codiceTipoDocumento}}_{{documentoToSave.insDate}}.zip"
                                                                   href="{{this.documentazioneService.getUrlScaricaPacchetto()+documentoToSave.idDocumento}}"
                                                                   style="width: 100px;">Scarica
                                                                    pacchetto </a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

								<!-- ACCORDION ALLEGATI -->
								<div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button aria-controls="collapseTwo" aria-expanded="false"
                                                    class="btn btn-link collapsed" data-target="#collapseTwo"
                                                    data-toggle="collapse">
                                                Allegati
                                            </button>
                                        </h5>
                                    </div>
                                    <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                                         id="collapseTwo">
                                        <div class="card-body">
                                            <div *ngFor="let al of documentoToSave.sigasAllegatos">


                                                <div class="form-group row">


                                                    <div class="col-lg-4 hight">
                                                        <div class="form-group row">
                                                            <label class="col-lg-6 col-form-label"
                                                                   for="codiceFiscalePIva">Descrizione:</label>
                                                            <div class="col-lg-6">
                                                                {{al.descrizione}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-8 hight">
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label" for="anno">Nome
                                                                File</label>
                                                            <div class="col-lg-8 trunk30">
                                                                {{al.nomeFile}}
                                                                <a class="btn btn-success mb-1"
                                                                   download="{{ al.nomeFile }}"
                                                                   href="{{this.documentazioneService.getUrlScaricaDocumentoAllegato(documentoToSave.idDocumento,al.nomeFile)}}"
                                                                   style="width: 90px;">Scarica </a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

							<!-- LISTA STATI / NOTA -->
                            <div class="row mt-5" *ngIf="documentoToSave.statoDocumentoVO.codiceStato != 'LETT_RISP'">

                                <!-- STATI -->
                                <div class="col-lg-3 hight">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Stato</label>
                                        <div class="col-lg-8">
                                            <select [(ngModel)]="documentoToSave.statoDocumentoVO.idStatoDocumento" [disabled]="documentoToSave.statoDocumentoVO.codiceStato == 'ACC' || documentoToSave.statoDocumentoVO.codiceStato == 'RIF'|| documentoToSave.statoDocumentoVO.codiceStato == 'LETT_RISP' "
                                                    class="form-control"
                                                    id="statoDocumento"
                                                    name="statoDocumento"
                                                    required>
                                                <option *ngFor="let statoDocumento of listaStatoDocumento"
                                                        [value]="statoDocumento.idStatoDocumento">
                                                    {{statoDocumento.descrizione}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

								<!-- NOTE -->
                                <div class="col-lg-5 offset-lg-1 hight">
                                    <div class="form-group ">
                                        <label class="col-lg-3 offset-lg-1 col-form-label">Note BO:</label>
                                        <div class="col-lg-10 col-value">
						                        <textarea [(ngModel)]="documentoToSave.noteBo" [disabled]="documentoToSave.statoDocumentoVO.codiceStato == 'ACC' || documentoToSave.statoDocumentoVO.codiceStato == 'RIF' || documentoToSave.statoDocumentoVO.codiceStato == 'LETT_RISP'"
                                                          [ngModelOptions]="{standalone: true}"
                                                          class="note-textarea"
                                                          rows="4">
						                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<!-- DATA INVIO PEC -->
                            <div class="row">
                                <div *ngIf="documentoToSave.statoDocumentoVO.codiceStato == 'LETT_RISP' || isPecEnabled" class="col-lg-4 hight">
                                    <div class="form-group row">
                                        <label class="col-lg-5 col-form-label" for="anno">Data Invio Pec</label>
                                        <div class="col-lg-7 col-value">
                                            <div class="input-group">
                                                <input #dataPec="ngbDatepicker"
                                                       (click)="dataPec.toggle()"
                                                       (ngModelChange)="changeFilterDataInvioPec($event)"
                                                       [(ngModel)]="dataInvioPec"
                                                       [footerTemplate]="footerTemplatePec"
                                                       class="form-control col-mg-8 col-lg-8"
                                                       class="form-control"
                                                       id="dataPec"
                                                       name="dataPec"
                                                       ngbDatepicker
                                                       placeholder="gg/mm/aaaa"
                                                       required
                                                       readonly>
                                                <ng-template #footerTemplatePec>
                                                    <hr class="my-0">
                                                    <button (click)="resetDataInvioPec(); incassoDa.close();"
                                                            class="btn btn-primary btn-sm m-2 float-left">Pulisci
                                                    </button>
                                                    <button (click)="dataPec.close()"
                                                            class="btn btn-secondary btn-sm m-2 float-right">Chiudi
                                                    </button>
                                                </ng-template>
                                                <div class="input-group-append">
                                                    <button (click)="dataPec.toggle()"
                                                            class="btn btn-outline-secondary calendar"
                                                            type="button">
                                                        <svg _ngcontent-c4=""
                                                             aria-hidden="true"
                                                             class="svg-inline--fa fa-calendar-alt fa-w-14" data-fa-i2svg="" data-icon="calendar-alt"
                                                             data-prefix="far" focusable="false"
                                                             role="img" viewBox="0 0 448 512"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"
                                                                  fill="currentColor"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

				<!-- INDIETRO / CONFERMA -->
                <div class="bs-example" data-example-id="single-button-dropdown">
                    <div class="form-group row col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                            <!-- INDIETRO -->
                            <div *ngIf="loaded" class="btn-group">
                                <a (click)="goBack()"
								   class="btn btn-default margin-icon btn-standard"
								   role="button">
                                    <i class="fa fa-angle-left glyphicon glyphicon-chevron-left"></i>
                                    indietro
								</a>
                            </div>

							<sigas-spinner-form *ngIf="!loaded" [diameter]="30"></sigas-spinner-form>

                            <!-- CONFERMA -->
							<div *ngIf="loaded" class="btn-group">
                                <button (click)="apriPopUpAggiornaStato()"
                                        [disabled]="!praticaAccreditamento.form.valid
                                        || ((documentoToSave.statoDocumentoVO.codiceStato == 'ACC' || documentoToSave.statoDocumentoVO.codiceStato == 'RIF') && notaSalvata)"
                                        class="btn btn-primary margin-icon btn-standard"
										type="submit">
                                    <i class="fa fa-angle-right glyphicon glyphicon-ok"></i>
									Conferma
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<sigas-dialog [titolo]="'Indietro'" [buttonConfirmText]="'Si'" [buttonAnnullaText]="'No'"></sigas-dialog>

<div class="modal fade" id="dialogBox" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lettera di Risposta</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <span>{{dialogMsg}}</span>
                </p>
            </div>
            <div class="modal-footer">
                <button (click)="salvaPraticaDocumentazione()" class="btn btn-primary" data-dismiss="modal"
                        type="button">No
                </button>
                <button (click)="completaLetteraOrdinanza()" class="btn btn-default" data-dismiss="modal" type="button">
                    S&igrave;
                </button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="goToStep('pagamento-fo-importo')">S&igrave;</button>-->
            </div>
        </div>
    </div>
</div>
