<div class="principal-div">
    <div class="card card-primary center-default">
        <div class="card-header text-white">
            <strong>Consulta Documentazione </strong></div>
        <form #elencoDocumenti="ngForm">
            <sigas-alert [message]="'Utilizza i filtri per ricercare la documentazione.
                               I documenti contrassegnati in rosso rappresentano le Lettere di Risposta.'"
                         [type]="'INFO'"></sigas-alert>
            <div class="card-body container">
                <div class="form-group row">

                    <div class="col-lg-12 hight">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Azienda</label>
                            <div class="col-lg-9">
                                <select [(ngModel)]="anagraficaSoggettoVO" class="form-control" id="azienda"
                                        name="azienda" required>
                                    <option *ngFor="let azienda of listaAziende"
                                            [ngValue]="azienda">{{azienda.denominazione}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 hight">
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Tipo Documento</label>
                            <div class="col-lg-8">
                                <select [(ngModel)]="tipoDocumentoVO" class="form-control"
                                        id="tipoDocumento" name="tipoDocumento">
                                    <option *ngFor="let tipoDocumento of listaTipoDocumentoMacro"
                                            [ngValue]="tipoDocumento">{{tipoDocumento.descrizione}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hight">
                        <div class="form-group row">
                            <label class="col-lg-7 col-form-label" for="anno">Annualità di riferimento</label>
                            <div class="col-lg-5">
                                <select [(ngModel)]="annualita" class="form-control" id="year" name="year">
                                    <option *ngFor="let year of yearsList" [value]="year">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 hight">
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label" for="protocollo">Protocollo:</label>
                            <div class="col-lg-6">
                                <input [(ngModel)]="nprotocollo" class="form-control" name="nprotocollo"
                                       placeholder="nprotocollo" type="text">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- TASTI FORM DI RICERCA -->
                <div class="form-group row col-lg-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                        <div class="btn-group">
                            <button (click)="cancellaCampiRicerca()"
                                    class="btn btn-primary margin-icon btn-standard"
                                    type="button">
                                <i class="fas fa-times"></i>
                                Cancella
                            </button>
                        </div>

                        <div class="btn-group">
                            <button (click)="ricarcaDocumenti()"
                                    [disabled]="!(anagraficaSoggettoVO || nprotocollo)"
                                    class="btn btn-primary margin-icon btn-standard"
                                    type="submit">
                                <i class="fa fa-angle-right glyphicon glyphicon-ok"></i> Cerca
                            </button>
                        </div>

                    </div>
                </div>

                <div class="panel-body">
                    <div class=" form-group col-lg-12">
                        <div class="form-group col-lg-12">
                            <sigas-spinner-form *ngIf="loaderDT" [diameter]="30"></sigas-spinner-form>

                            <!-- TABELLA DOCUMENTI -->
                            <table [dtOptions]="dtOptions"
                                   [dtTrigger]="dtTrigger"
                                   [style.display]="!loaderDT ? '' : 'none' "
                                   class="row-border hover"
                                   datatable id="elenco-doc"
                                   width="100%">
                                <thead>
                                    <tr>
                                        <th class="upper-th no-sort">Data</th>
                                        <th class="upper-th no-sort">Annualità</th>
                                        <th class="upper-th no-sort">Tipo</th>
                                        <th class="upper-th no-sort">Nome File</th>
                                        <th class="upper-th no-sort">Note</th>
                                        <th class="upper-th no-sort">Protocollo</th>
                                        <th class="upper-th no-sort">Prot. di Riferimento</th>
                                        <th class="upper-th no-sort"></th>
                                        <th class="upper-th no-sort">Download</th>
                                        <th class="upper-th no-sort">Stato</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container *ngFor="let el of elencoDoc; index as i">

                                        <!-- COLONNE DI DEFAULT -->
                                        <tr [ngStyle]="{'color': (el.statoDocumentoVO== null || el.statoDocumentoVO.codiceStato=='LETT_RISP') ? '#da330d' : ''}"
                                            class="pointer">
                                            <td class="dt-center">
                                                <span style="display: none">{{ el.dataProtocollazione | date:'yyyyMMdd' }}</span>
                                                {{ el.dataProtocollazione | date:'dd/MM/yyyy' }}
                                            </td>
                                            <td class="dt-center">{{ el.annualita }}</td>
                                            <td class="dt-center">{{ el.tipoDocumentoVO.descrizione }}</td>
                                            <td class="trunk20">{{ el.nomeFile }}</td>
                                            <td class="dt-center"> {{ el.note }}</td>
                                            <td class="dt-center">
                                                <span *ngIf="el.nprotocollo != null">{{ el.nprotocollo }}</span>
                                                <span *ngIf="el.nprotocollo == null">In Protocollazione</span>
                                            </td>
                                            <td class="dt-center">{{ el.rifArchivio }}</td>
                                            <td class="dt-center">
                                                <a *ngIf="el.sigasAllegatos && el.sigasAllegatos.length > 0"
                                                   [attr.aria-controls]="'collapse-' + i"
                                                   [attr.aria-expanded]="false"
                                                   [attr.data-target]="'#collapse-' + i"
                                                   class="accordion-toggle collapsed"
                                                   data-toggle="collapse"
                                                   title="Visualizza Allegati">
                                                </a>
                                            </td>
                                            <td class="dettagli-td">
                                                <a *ngIf="!el.sigasAllegatos  || el.sigasAllegatos.length == 0"
                                                   class="btn btn-success"
                                                   download="{{ el.nomeFile }}"
                                                   href="{{this.documentazioneService.getUrlScaricaDocumentoMaster()+el.idDocumento}}" style="width: 100px;">Scarica </a>
                                                <a *ngIf="el.sigasAllegatos && el.sigasAllegatos.length != 0"
                                                   class="btn btn-success mb-1"
                                                   download="{{ el.nomeFile }}"
                                                   href="{{this.documentazioneService.getUrlScaricaDocumentoMaster()+el.idDocumento}}" style="width: 100px;height: 30px;">Scarica </a>
                                                <a *ngIf="el.sigasAllegatos && el.sigasAllegatos.length != 0"
                                                   class="btn btn-success"
                                                   download="{{el.tipoDocumentoVO.codiceTipoDocumento}}_{{el.insDate}}.zip"
                                                   href="{{this.documentazioneService.getUrlScaricaPacchetto()+el.idDocumento}}"
                                                   style="width: 100px;">Scarica
                                                    pacchetto </a>
                                            </td>
                                            <td class=" dt-center">
                                                <div *ngIf="el.statoDocumentoVO != null">
                                                    <i *ngIf="el.statoDocumentoVO.codiceStato=='PRESEN' && el.noteBo!=null"
                                                       class="fa fa-check"
                                                       title="{{el.statoDocumentoVO.descrizione + ' '+el.noteBo}}"></i>
                                                    <i *ngIf="el.statoDocumentoVO.codiceStato=='IN_LAV' && el.noteBo!=null"
                                                       class="fa fa-hourglass"
                                                       title="{{el.statoDocumentoVO.descrizione + ' '+el.noteBo}}"></i>
                                                    <span *ngIf="el.noteBo!=null"
                                                          [ngClass]="{ 'badge-success': el.statoDocumentoVO.codiceStato== 'ACC', 'badge-danger': el.statoDocumentoVO.codiceStato== 'RIF' }"
                                                          class="badge"
                                                          title="{{el.statoDocumentoVO.descrizione + ' '+el.noteBo}}">{{ el.statoDocumentoVO.codiceStato == 'ACC' ? "OK" : (el.statoDocumentoVO.codiceStato == 'RIF' ? "NOK" : "") }}</span>
                                                    <i *ngIf="el.statoDocumentoVO.codiceStato=='PRESEN' && el.noteBo==null"
                                                       class="fa fa-check"
                                                       title="{{el.statoDocumentoVO.descrizione}}"></i>
                                                    <i *ngIf="el.statoDocumentoVO.codiceStato=='IN_LAV' && el.noteBo==null"
                                                       class="fa fa-hourglass"
                                                       title="{{el.statoDocumentoVO.descrizione}}"></i>
                                                    <span *ngIf="el.noteBo==null" [ngClass]="{ 'badge-success': el.statoDocumentoVO.codiceStato== 'ACC', 'badge-danger': el.statoDocumentoVO.codiceStato== 'RIF' }"
                                                          class="badge"
                                                          title="{{el.statoDocumentoVO.descrizione}}">{{ el.statoDocumentoVO.codiceStato == 'ACC' ? "OK" : (el.statoDocumentoVO.codiceStato == 'RIF' ? "NOK" : "") }}</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- ALLEGATI DOCUMENTO -->
                                        <tr class="collapse-row container collapse out"
                                            *ngFor="let al of el.sigasAllegatos"
                                            [attr.id]="'collapse-' + i">
                                            <td class="col">
                                                <span style="display: none">{{ al.dataOraProtocollo | date:'yyyyMMdd' }}</span>
                                                {{al.dataOraProtocollo | date:'dd/MM/yyyy' }}
                                            </td>
                                            <td class="col"></td>
                                            <td class="col"></td>
                                            <td class="trunk30">{{al.nomeFile}}</td>
                                            <td class="col">{{al.descrizione}}</td>
                                            <td class="col">Allegato Acta</td>
                                            <td class="col"></td>
                                            <td class="col"></td>
                                            <td class="col">
                                                <a class="btn btn-success mb-1"
                                                   download="{{ al.nomeFile }}"
                                                   href="{{this.documentazioneService.getUrlScaricaDocumentoAllegato(el.idDocumento,al.nomeFile)}}"
                                                   style="width: 90px;">
                                                    Scarica
                                                </a>
                                            </td>
                                            <td class="col"></td>
                                        </tr>

                                    </ng-container>
                                </tbody>
                        </table>
                </div>
            </div>
    </div>
</div>
</form>
</div>
</div>
