<div class="principal-div" id="principal-div" name="principal-div">
	<!--<sigas-spinner *ngIf="!loaderInserimentoSoggettoPage"></sigas-spinner>-->
	<div  *ngIf="!loaderInserimentoSoggettoPage" class="card card-primary center-default">
		<div class="card-header text-white">			
			<h1 class="h1-font"><strong>Ricerca pagamento</strong></h1>
		</div>
		<div>
			<!-- Alert component con messaggio -->
			<sigas-alert
				[message]="'Selezionare almeno un criterio di ricerca per consultare l\'elenco pagamenti e premenre \'Cerca\''" [type]="'INFO'"></sigas-alert>
			<div class="card-body container">
				<div class="form-group row">
					<div class="col-lg-12">
						<div class="form-group col-lg-12">
								<form #insPayment="ngForm">
									<div class="panel-body" role="main">
										<div class="form-group col-lg-12">
											<!--Anno di riferimento-->
											<div class="row row-spaced-top">
												<label id="lblYear" for="year" class="col-lg-3 col-form-label">Anno di riferimento:</label>
												<!--Spinner component-->
												<sigas-spinner-form [diameter]="30" *ngIf="loadingPageFlag;  else yearListLoaded"></sigas-spinner-form>
												<ng-template #yearListLoaded>
													<div class="col-lg-2" style="margin-left: 45px">
														<select class="form-control" id="year" aria-labelledby="lblYear" [(ngModel)]="foPayService.searchReq.year" name="year" required (change)="changeYear($event)" [disabled]="yearDisabled">
															<option *ngFor="let year of yearsList" [value]="year">{{year}}</option>
														</select>
													</div>
												</ng-template>
											</div>
											<!--Alert component-->
											<sigas-alert *ngIf="yearsLoaded && (!yearsList || !yearsList.length)" [message]="'Non sono stati trovati anni in cui ci siano dei pagamenti.'" [type]="'WARNING'"></sigas-alert>
											<sigas-alert *ngIf="noSubjectsFoundforSelectedYear" [message]="'Non sono state trovate aziende che hanno fatto pagamenti per l\'anno selezionato.'" [type]="'WARNING'"></sigas-alert>
											<!--Mese di competenza-->
											<div class="row row-spaced-top">
												<label id="lblMonthFrom" for="monthFrom" class="col-lg-3 col-form-label">Mese di competenza:</label>
												<div class="col-lg-8">
													<div class="row">
														<!-- Select Dal -->
														<label class="col-lg-1 col-form-label" style="width: 100px">dal</label>
														<select class="form-control col-lg-3" id="monthFrom" aria-labelledby="lblMonthFrom" [(ngModel)]="foPayService.searchReq.monthFrom" name="monthFrom" required>
															<!-- Option mesi dell'anno -->
															<option [ngValue]="1">Gennaio</option>
															<option [ngValue]="2">Febbraio</option>
															<option [ngValue]="3">Marzo</option>
															<option [ngValue]="4">Aprile</option>
															<option [ngValue]="5">Maggio</option>
															<option [ngValue]="6">Giugno</option>
															<option [ngValue]="7">Luglio</option>
															<option [ngValue]="8">Agosto</option>
															<option [ngValue]="9">Settembre</option>
															<option [ngValue]="10">Ottobre</option>
															<option [ngValue]="11">Novembre</option>
															<option [ngValue]="12">Dicembre</option>
														</select>
														&nbsp;&nbsp;&nbsp;

														<!-- Select Al -->
														<label id="lblMonthTo" for="monthTo" class="col-lg-1 col-form-label">al</label>
														<select class="form-control col-lg-3" id="monthTo" aria-labelledby="lblMonthTo" [(ngModel)]="foPayService.searchReq.monthTo" name="monthTo" required>
															<!-- Option mesi dell'anno -->
															<option [ngValue]="1">Gennaio</option>
															<option [ngValue]="2">Febbraio</option>
															<option [ngValue]="3">Marzo</option>
															<option [ngValue]="4">Aprile</option>
															<option [ngValue]="5">Maggio</option>
															<option [ngValue]="6">Giugno</option>
															<option [ngValue]="7">Luglio</option>
															<option [ngValue]="8">Agosto</option>
															<option [ngValue]="9">Settembre</option>
															<option [ngValue]="10">Ottobre</option>
															<option [ngValue]="11">Novembre</option>
															<option [ngValue]="12">Dicembre</option>
														</select>
													</div>
												</div>
											</div>
											<!--Denominazione azienda-->
											<div class="row row-spaced-top">
												<label id="lblSubject" for="subject" class="col-lg-3 col-form-label">Denominazione azienda:</label>
												<div class="col-lg-6">
													<select class="form-control" style="margin-left: 45px" id="subject" aria-labelledby="lblSubject" [(ngModel)]="foPayService.searchReq.subjectName" name="subject" (change)="changeSubject($event)" [disabled]="subjectDisabled">
														<option *ngFor="let subject of subjects | keyvalue" [ngValue]="subject.key">
															{{subject.key}}
														</option>
													</select>
												</div>
											</div>
											<!--Provincia-->
											<div class="row row-spaced-top">
												<label id="lblArea" for="area" class="col-lg-3 col-form-label">Provincia:</label>
												<div class="col-lg-2">
													<select class="form-control" style="margin-left: 45px" id="area" aria-labelledby="lblArea" [(ngModel)]="foPayService.searchReq.area" name="area" (change)="changeArea($event)">
														<option *ngFor="let area of foPayService.searchReq.subjectName && subjects[foPayService.searchReq.subjectName] || {} | keyvalue" [ngValue]="area.key">
															{{area.key}}
														</option>
													</select>
												</div>
											</div>											
											<!--Operatore FO-->
											<div class="row row-spaced-top" *ngIf="isBoSeach">
												<label id="lblSubjectBO" for="subjectBO" class="col-lg-3 col-form-label">Operatore FO:</label>
												<div class="col-lg-4">
													<select class="form-control" id="subjectBO" aria-labelledby="lblSubjectBO" [(ngModel)]="foPayService.searchReq.operatorFO" name="subject" (change)="changeSubject($event)" [disabled]="subjectDisabled">
														<option *ngFor="let subject of subjects | keyvalue" [ngValue]="subject.key">
															{{subject.key}}
														</option>
													</select>
												</div>
											</div>
											<!--Tipo pagamento-->
											<div class="row row-spaced-top" *ngIf="isBoSeach">
												<label id="lblTypePay" for="typePay" class="col-lg-3 col-form-label">Tipo pagamento:</label>
												<div class="col-lg-4">
													<select class="form-control" id="typePay" aria-labelledby="lblTypePay" [(ngModel)]="foPayService.searchReq.payType" name="typePay">
														<option *ngFor="let type of paymentTypes" [ngValue]="type.idTipoVersamento">
															{{type.denominazione}}
														</option>
													</select>
												</div>
											</div>

										</div>
										<br>

										<!--pulsanti-->
                                        <div class="bs-example" data-example-id="single-button-dropdown">
											<div class="form-group row col-lg-12">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
													<div class="btn-group">
														<!--Cancella-->
														<a class="btn btn-default margin-icon btn-standard" (click)="goBack()" role="button">
															<i class="fas fa-times"></i>   Cancella</a>
													</div>
													<div class="btn-group">
														<!--Submit-->
														<button type="submit" [disabled]="!insPayment.form.valid || noSubjectsFoundforSelectedYear" class="btn btn-primary margin-icon" (click)="onSubmit()">
															<i class="fas fa-check"></i> Cerca</button>
													</div>
												</div>
											</div>
										</div>
  
				
									</div>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>