<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-dark navbar-expand-lg">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img _ngcontent-c1="" alt="ServiziOnline" src="assets/logo_sp.jpg" height="50px">
        SIGAS
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Show menu">
        <span class="navbar-toggler-icon"></span>
    </button>    

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">        

        <ul class="navbar-nav mr-auto">
        </ul>
        <!-- NAVBAR ITEMS -->
        <ul class="navbar-nav" (keydown)="onKeydown($event)">             
            
            <!-- HOME LINK -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>

            <!-- Navbar Documentazione -->
            <!-- Marts SOLUZIONE AGID -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('DOCUMENTAZIONE')">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="documentazioneHeader"
                   aria-expanded="false">Documentazione
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="documentazioneHeader">
                    <!-- INVIA LINK -->
                    <div>
                        <a class="dropdown-item" [routerLink]="" (click)="navigate('INOLTRA_DOCUMENTAZIONE')">Invia</a>
                    </div>
                    <!-- CONSULTA LINK -->
                    <div>
                        <a class="dropdown-item" (click)="navigate('CONSULTA_DOCUMENTAZIONE')">Consulta</a>
                    </div>
                </div>
            </li>

            <!-- Navbar Accreditamento -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('ACCREDITAMENTO')">
                <a href="#" class="nav-link dropdown-toggle" 
                   id="accreditamentoHeader"
                   data-toggle="dropdown" role="button" 
                   aria-haspopup="true"                   
                   aria-expanded="false">Accreditamento                   
                   <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accreditamentoHeader">
                    <!-- EFFETTUA LINK -->
                    <div>
                        <a class="dropdown-item" (click)="navigate('INSERIMENTO_OPERATORE_SERVIZI')">Effettua</a>
                    </div>
                    <!-- MODIFICA LINK -->
                    <div>
                        <a class="dropdown-item" (click)="navigate('MODIFICA_ACCREDITAMENTO')">Modifica/Annulla</a>
                    </div>
                </div>
            </li>
            <!-- STATO RICHIESTA -->
            <li class="nav-item" *ngIf="abilitatoBaseMenu('STATO_RICHIESTA')" aria-label="Stato Richiesta accreditamento">                
                <a class="nav-link" routerLink="" (click)="navigate('RICERCA_PRATICHE')">Stato Richiesta accreditamento</a>                
            </li>
            <!-- RICERCA RICHIESTE -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('ELENCO_RICHIESTE')" aria-label="Ricerca Richieste accreditamento">
                <a class="nav-link" routerLink="/accreditamento/elencoRichieste">Ricerca Richieste accreditamento</a>
            </li>

            <!-- Navbar Documentazione in Arrivo -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('DOCUMENTAZIONE_IN_ARRIVO')" aria-label="Documenti in arrivo">
                <a class="nav-link" routerLink="" (click)="navigate('DOCUMENTI_IN_ARRIVO')">Documenti in arrivo</a>
            </li>

            <!-- Navbar Pagamento FO -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('PAGAMENTO_FO')">
                <a href="#" class="nav-link dropdown-toggle"
                   id="pagaHeader" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-haspopup="true"
                   aria-expanded="false">Pagamenti
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pagaHeader">
                    <!-- Paga -->
                    <div>
                        <a class="dropdown-item" routerLink="/home/selezione-soggetto-pagamento">Paga</a>
                    </div>
                    <!-- Scarica ricevuta -->
                    <div>
                        <a class="dropdown-item" routerLink="/home/seleziona-ricevuta">Scarica ricevuta</a>
                    </div>
                    <!-- Consulta -->
                    <div>
                        <a class="dropdown-item" routerLink="/home/ricerca-pagamento">Consulta</a>
                    </div>
                </div>
            </li>

            <!-- Navbar Anagrafica -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('ANAGRAFICA')" aria-label="Anagrafica soggetti">
                <a class="nav-link" routerLink="/home/soggetti">Anagrafica soggetti</a>
            </li>

            <!-- Navbar Anagrafica Ordinativi incasso -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('ANAGRAFICA')" aria-label="Ordinativi di incasso">
                <a class="nav-link" routerLink="home/ordinativiIncasso/associaSoggetto">Ordinativi di incasso</a>
            </li>

            <!-- Navbar Anagrafica Versamenti -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('ANAGRAFICA')">
                <a href="#" 
                   id="versamentiHeader"
                   class="nav-link dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" aria-haspopup="true"
                   aria-expanded="false">Versamenti
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="versamentiHeader">
                    <div>
                        <a class="dropdown-item" routerLink="/home/ricerca-pagamento-bo">Consulta</a>
                    </div>
                </div>
            </li>

            <!-- Navbar Impostazioni -->
            <li class="nav-item dropdown" *ngIf="abilitatoBaseMenu('IMPOSTAZIONI')">
                <a href="#" class="nav-link dropdown-toggle" id="impostazioni" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Impostazioni
                    <span class="caret"></span>
                </a>
                <!-- UTF -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="impostazioni">
                    <div [class.disabled]="disableSubMenu('IMPORTAZIONE_UTF')">
                        <a class="dropdown-item" (click)="navigate('IMPORTAZIONE_UTF')">Importazione UTF</a>
                    </div>
                    <!-- Aliquote -->
                    <div [class.disabled]="disableSubMenu('ALIQUOTE')">
                        <a class="dropdown-item" (click)="navigate('ALIQUOTE')">Aliquote</a>
                    </div>
                    <!-- Tassi Interesse -->
                    <div [class.disabled]="disableSubMenu('TASSI_INTERESSE')">
                        <a class="dropdown-item" (click)="navigate('TASSI_INTERESSE')">Tassi Interesse</a>
                    </div>
                </div>
            </li>

            <!-- Navbar Utente -->
            <li class="nav-item" aria-label="Utente">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-user"></i>&nbsp;</span> Utente
                    : {{profilaturaVO.nome}} {{profilaturaVO.cognome}}</a>
            </li>

            <!-- Navbar LOGOUT -->
            <li class="nav-item" aria-label="Esci">
                <a class="nav-link" [routerLink]="" (click)="logOut()">
                    Esci
                    <i class="fas fa-sign-out-alt log-out-icon"></i>
                </a>
            </li>
        </ul>
        <!--END NAVBAR ITEMS -->
    </div>
</nav>
<!--END NAVBAR -->
<!-- ALERT -->
<sigas-alert *ngIf="showMessage" [message]="message" [type]="levelMessage"></sigas-alert>
