<!--Error Component-->
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <!--Error Img-->
              <img alt="Error" title="error" src="assets/error.png" style="height:70px">
              <!--Error Code-->
              <br><br> {{cod}}
              <!--Error Message-->
              <br>
              <br> {{message}}
          </div>
          <div class="col-sm-4" id="center">
              <img alt="" src="assets/robot.png">
          </div>
          <div class="col-sm-2"></div>
      </div>
  </div>
</section>
