<div role="listbox" aria-label="Navigazione nascosta per screen reader" id="idDivToContPrin" tabindex="-1"></div>
<div aria-relevant="true">    
    <a href='#principal-div-id'  
       class="skip-link" 
       role="listitem" 
       id="idAnchorToContPrin">Vai al contenuto principale</a>                                
</div>
<div class="principal-div" id="principal-div-id" name="principal-div-id">
    <div class="card card-primary center-default">
        <!-- Header block -->
        <div class="card-header text-white">            
            <h1 class="h1-font"><strong>Soggetto </strong> - Anno: {{annoDichiarazione}} - Dichiarante: {{this.anagraficaSoggettiService.headerDichiarante!= undefined ? anagraficaSoggettiService.headerDichiarante.denominazione: ""}}</h1>
        </div>
        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- Soggetto -->
            <li class="nav-item">
                <a class="nav-link nav-link-color active" id="soggetto-tab" data-toggle="tab" href="#soggetto" role="tab" aria-controls="soggetto" aria-selected="true"><h2 class="h3-font">Soggetto</h2></a>
            </li>
            <!-- Consumi -->
            <li class="nav-item">
                <a class="nav-link nav-link-color" id="consumi-tab" data-toggle="tab" (click) = "refreshConsumi()" href="#consumi" role="tab" aria-controls="consumi" aria-selected="false"><h2 class="h3-font">Consumi</h2></a>
            </li>
            <!-- Versamenti -->
            <li class="nav-item">
                <a class="nav-link nav-link-color" id="versamenti-tab" data-toggle="tab" href="#versamenti" role="tab" aria-controls="versmenti" aria-selected="false"><h2 class="h3-font">Versamenti</h2></a>
            </li>
            <!-- Documenti -->
            <li class="nav-item">
                <a class="nav-link nav-link-color" id="documenti-tab" data-toggle="tab" href="#documenti" role="tab" aria-controls="documenti" aria-selected="false"><h2 class="h3-font">Documenti</h2></a>
            </li>
            <!-- Rimborsi -->
            <li class="nav-item">
                <a class="nav-link nav-link-color" id="rimborsi-tab" data-toggle="tab" (click) = "refresh()" href="#rimborsi" role="tab" aria-controls="rimborsi" aria-selected="false"><h2 class="h3-font">Rimborsi</h2></a>
            </li>
            <!-- Accertamenti --> 
            <li class="nav-item">
                <a class="nav-link nav-link-color" id="accertamenti-tab" data-toggle="tab" (click) = "refreshAcc()" href="#accertamenti" role="tab" aria-controls="accertamenti" aria-selected="false"><h2 class="h3-font">Accertamenti</h2></a>
            </li>    
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="soggetto" role="tabpanel" aria-labelledby="soggetto-tab">
                <!-- Anagrafica component --> 
                <app-anagrafica-soggetto></app-anagrafica-soggetto>
            </div>
            <div class="tab-pane fade show" id="consumi" role="tabpanel" aria-labelledby="consumi-tab">
                <!-- Consumi component --> 
                <app-consumi-pr></app-consumi-pr>
            </div>
            <div class="tab-pane fade show" id="versamenti" role="tabpanel" aria-labelledby="versamenti-tab">
                <!-- Versamenti component --> 
                <app-versamenti></app-versamenti>
            </div>
            <div class="tab-pane fade show" id="documenti" role="tabpanel" aria-labelledby="documenti-tab">
                <!-- Documenti component --> 
                <app-documenti></app-documenti>
            </div>
            <div class="tab-pane fade show" id="rimborsi" role="tabpanel" aria-labelledby="rimborsi-tab">
                <!-- Rimborsi component --> 
                <app-rimborsi></app-rimborsi>
            </div>
            <div class="tab-pane fade show" id="accertamenti" role="tabpanel" aria-labelledby="accertamenti-tab">
                <!-- Accertamenti component --> 
                <app-accertamenti></app-accertamenti>
            </div>
        </div>        
    </div>
</div>