.col-value {
    padding-top: 8px;
}

.contains {
    width: 90%;
    margin: auto;
}

.note-textarea {
    width: 100%;
    resize: none;
}

.btn-secondary{
    color: #fff !important;
}

.btn-secondary.focus, .btn-secondary:focus,
.btn-secondary.active, .btn-secondary:active {
    background:#5a6268;
}

.margin-top-toggle {
    margin-top: -4px;
}

.margin-bottom-toggle {
    margin-bottom: 4px;
}

.dichiarante {
    text-align: left !important;
}