/*Import di classe*/
@import '../../../color.scss';

/* selettori */
.badge {
    min-width: 45px;
    padding-top: 5px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 2px;
    font-size: 13px;
}

//Alert
.alert-badge {
    display: inline-block;
    margin-right: 4px;
    margin-top: 0px;
}

.col-form-label {
    min-width: 75px;
}

/*Gestione H1*/
.h1-font {
    font-size: 1.1em; /* 40px/16=2.5em */
 }

  /*Gestione H4*/
  .h4-font {
    font-size: 1.5em; /* 40px/16=2.5em */
  }