<div class="principal-div" id="principal-div" name="principal-div">
  <div class="card card-primary center-default">
    <div class="card-header text-white">      
	  <h1 class="h1-font"><strong>Modifica Pratica Accreditamento</strong></h1>
	</div>
    <form #praticaAccreditamento="ngForm">
      <sigas-alert [message]="'Modifica la pratica e premere su conferma'"
        [type]="'INFO'"></sigas-alert>
       <div class="card-body container">    
        <sigas-alert [message]="messageSuccess" *ngIf="showSuccess" [type]="'SUCCESS'"></sigas-alert>
      			<sigas-alert [message]="messageError" *ngIf="showMessageError" [type]="'DANGER'"></sigas-alert>
            
        <div class=" form-group col-lg-12">
                            <div class="form-group col-lg-12">
                                <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>
                                <div id="accordion" *ngIf="!loaderDT">
								  <div class="card">
								    <div class="card-header" id="headingOne">
								      <span class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								          <h2 class="h2-font">Dati Operatore</h2>
								        </button>
									</span>
								    </div>								
								    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
								            <div class="col-lg-8 hight">
								                <!--cognome-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Cognome:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.operatore.cognome}}
								                        </div>
								                    </div>
								                </div>
								                <!--cognome-->
								                <!--nome-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Nome:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.operatore.nome}}
								                        </div>
								                    </div>
								                </div>
								                <!--nome-->
								                <!--codiceFiscale-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Codice Fiscale:</label>
								                    <div class="col-lg-6 col-value">
								                         <div>
								                            {{accreditamento.operatore.codiceFiscale}}
								                        </div>
								                    </div>
								                </div>
								                <!--codiceFiscale-->
								               <!--Telefono-->
					                            <div class="form-group col-lg-12">
					                                <div class="col-lg-12">
					                                    <label id="lblTelefonoOperatore" for="telefonoOperatore" class="col-lg-5 col-form-label">Telefono:</label>
					                                    <div class="col-lg-7">
					                                        <input type="text" id="telefonoOperatore" aria-labelledby="lblTelefonoOperatore" placeholder="Telefono" maxlength="25" [(ngModel)]="accreditamento.operatore.telefono" name="telefonoOperatore"
					                                            class="form-control" #telefonoOperatore="ngModel" maxlength="25" required pattern="^[0-9\-\+\s\(\)]*$"
					                                            [disabled]="accreditamento.utenteProvvisorio.stato != 'IN_LAVORAZIONE'">
					                                        <div *ngIf="telefonoOperatore.invalid && (telefonoOperatore.dirty || telefonoOperatore.touched)" class="alert alert-danger">
					                                            <div *ngIf="telefonoOperatore.errors.required ">
					                                                Il Telefono è richiesto.
					                                            </div>
					                                            <div *ngIf="telefonoOperatore.errors.pattern ">
					                                                Formato telefono non corretto.
					                                            </div>
					                                        </div>
					                                    </div>
					                                </div>
					                            </div>
					                            <!--Telefono-->
					                            <!--Email-->
					                            <div class="form-group col-lg-12">
					                                <div class="col-lg-12">
					                                    <label id="lblEmailOperatore" for="emailOperatore" class="col-lg-5 col-form-label">Email (NO PEC):</label>
					                                    <div class="col-lg-7">
					                                        <input type="text" id="emailOperatore" aria-labelledby="lblEmailOperatore" placeholder="Email" maxlength="150" [(ngModel)]="accreditamento.operatore.email" name="emailOperatore"
					                                            class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailOperatore="ngModel"
					                                            [disabled]="accreditamento.utenteProvvisorio.stato != 'IN_LAVORAZIONE'" required>
					                                        <div *ngIf="emailOperatore.invalid && emailOperatore.touched" class="alert alert-danger">
					                                            <div *ngIf="emailOperatore.errors.required ">
					                                                La Email è richiesta.
					                                            </div>
					                                            <div *ngIf="emailOperatore.errors.pattern">
					                                                formato email: exemple@exemple.it
					                                            </div>
					                                        </div>
					                                    </div>
					                                </div>
					                            </div>
					                            <!--Email-->								              
								            </div>								            
								        </div>
								      </div>
								    </div>
								  </div>
								  <div class="card">
								    <div class="card-header" id="headingTwo">
								      <span class="mb-0">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<h2 class="h2-font">Dati Società</h2>
								        </button>
									</span>
								    </div>
								    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								      <div class="card-body">				
        								 <div class="row">
								            <div class="col-lg-8 hight">
								                <!--denominazione-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Denominazione:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.dichiarante.denominazione}}
								                        </div>
								                    </div>
								                </div>
								                <!--denominazione-->								                
								                <!--codice azienda-->
								                <div class="form-group border-botton row ">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Codice Azienda:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.dichiarante.codiceAzienda}}
								                        </div>
								                    </div>
								                </div>
								                <!--codice azienda-->								                
								                <!--Provincia-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">Provincia</label>
								                    <div class="col-lg-5 col-value">
								                        <div>
								                            {{accreditamento.dichiarante.provincia.denominazione}}
								                        </div>
								                    </div>
								                </div>
								                <!--Provincia-->								                
								                <!--Comune-->
								                <div class="form-group border-botton row ">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">Comune</label>
								                    <div class="col-lg-5 col-value">
								                        <div>
								                            {{accreditamento.dichiarante.comune.denominazione}}
								                        </div>
								                    </div>
								                </div>
								                <!--Comune-->								                
								                <!--indirizzo-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">indirizzo:</label>
								                    <div class="col-lg-5 col-value">
								                         <div>
								                            {{accreditamento.dichiarante.indirizzo}}
								                        </div>
								                    </div>
								                </div>
								                <!--indirizzo-->								                
								                <!--iban-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">iban:</label>
								                    <div class="col-lg-5 col-value">
								                         <div>
								                            {{accreditamento.dichiarante.iban}}
								                        </div>
								                    </div>
								                </div>
								                <!--iban-->								            							 
								            	 <!--telefono-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">Telefono:</label>
								                    <div class="col-lg-5 col-value">
								                         <div>
								                            {{accreditamento.dichiarante.telefonoDichiarante}}
								                        </div>
								                    </div>
								                </div>
								                <!--telefono-->							                
							                 	<!--Pec-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">Pec:</label>
								                    <div class="col-lg-5 col-value">
								                         <div>
								                            {{accreditamento.dichiarante.pecDichiarante}}
								                        </div>
								                    </div>
								                </div>
								                <!--Pec-->							                
							                 	<!--Email-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-6 offset-lg-1 col-form-label">Email (NO PEC):</label>
								                    <div class="col-lg-5 col-value">
								                         <div>
								                            {{accreditamento.dichiarante.emailDichiarante}}
								                        </div>
								                    </div>
								                </div>
								                <!--Email-->							                
								        </div>			      
										</div>
								      </div>
								    </div>
								  </div>
								  <div class="card">
								    <div class="card-header" id="headingThree">
								      <span class="mb-0">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<h2 class="h2-font">Dati Rappresentante Legale</h2>
								        </button>
									</span>
								    </div>
								    
								    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
								            <div class="col-lg-8 hight">
								                <!--cognome-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Cognome:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.legaleRappresentante.cognome}}
								                        </div>
								                    </div>
								                </div>
								                <!--cognome-->
								                <!--nome-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Nome:</label>
								                    <div class="col-lg-6 col-value">
								                        <div>
								                            {{accreditamento.legaleRappresentante.nome}}
								                        </div>
								                    </div>
								                </div>
								                <!--nome-->
								                <!--codiceFiscale-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Codice Fiscale:</label>
								                    <div class="col-lg-6 col-value">
								                         <div>
								                            {{accreditamento.legaleRappresentante.codiceFiscale}}
								                        </div>
								                    </div>
								                </div>
								                <!--codiceFiscale-->
								                
								                 <!--telefono-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Telefono:</label>
								                    <div class="col-lg-6 col-value">
								                         <div>
								                            {{accreditamento.legaleRappresentante.telefono}}
								                        </div>
								                    </div>
								                </div>
								                <!--telefono-->								                
								                <!--Email-->
								                <div class="form-group border-botton row">
								                    <label class="col-lg-5 offset-lg-1 col-form-label">Email (NO PEC):</label>
								                    <div class="col-lg-6 col-value">
								                         <div>
								                            {{accreditamento.legaleRappresentante.email}}
								                        </div>
								                    </div>
								                </div>
								                <!--Email-->								              
								            </div>
								        </div>
								      </div>
								    </div>
								  </div>
								</div>                            	
                            </div>
                        </div>
      </div>
     <div class="bs-example" data-example-id="single-button-dropdown">
                    <div class="form-group row col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="btn-group">
                                <a class="btn btn-default margin-icon btn-standard" (click)="goBack()" role="button">
                                    <i class="fa fa-angle-left glyphicon glyphicon-chevron-left"></i>
                                    indietro</a>
                            </div>
                            <div class="btn-group">
                                <button type="submit" [disabled]="accreditamento.utenteProvvisorio.stato != 'IN_LAVORAZIONE'" class="btn btn-primary margin-icon btn-standard" (click)="annullaPratica()">
                                    <i class="fa fa-angle-right glyphicon glyphicon-ok"></i> Annulla Pratica</button>
                            </div>
                            <div class="btn-group">
                                <button type="submit" [disabled]="!praticaAccreditamento.form.valid || accreditamento.utenteProvvisorio.stato != 'IN_LAVORAZIONE'" class="btn btn-primary margin-icon btn-standard" (click)="salvaPratica()">
                                    <i class="fa fa-angle-right glyphicon glyphicon-ok"></i> Conferma</button>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
  </div>
</div>