//Import di sistema
@import '../../../color.scss';

.accordion-toggle:after	{font-family:'Glyphicons Halflings'; content:"▼"; float:right; color:grey;}
.accordion-toggle.collapsed:after   {content:"▲";}


/* Styling of the collapsible row */
td.collapse-row {
    border-style: none;
    padding: 0;
}
//----------------------------------

.dettagli-subTable-td {
    width: 30% !important
}
//----------------------------------

td.trunk20 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
//----------------------------------
td.trunk30 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
//----------------------------------

/*
text-red-sigas {
    color: #da330d;
}
*/

//----------------------------------
.badge {
    min-width: 45px;
    padding-top: 5px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 2px;
    font-size: 13px;
}
//----------------------------------

// ----alarm section ------------
.alert-badge {
    display: inline-block;
    margin-right: 4px;
    margin-top: 0px;
}
// -------------------------------
//Table
table.marts tbody tr td{    
    padding-left: 1.3rem;
}
// ---------------------------
.dt-left {
    text-align: left;  
}
// ---------------------------
.dt-center {
    text-align: center;
    white-space: normal;  
}

.btn-ok {
    background-color: #1e7e34;
    border-color: #1e7e34;
    //width:20px; 
    //height:20px
 }

 .sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
 }

 .h1-font {
    font-size: 1.1em; /* 40px/16=2.5em */
 }
// ---------   END ---------------