@import '../../../color.scss';

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .padding-error {
    padding-top: 15px;
  }

  .padding-reload {
    margin-top: 23px;
  }

  .mainDiv {
    padding-right: 3%;
  }

  .newButton {
    padding-bottom: 1%;
    padding-left: 10%;
  }
  
  .dt-center {
    text-align: center;
    border: 1px solid lightgrey;
  }

  table td, table th {
    padding: 1%;
    vertical-align: middle;
  }

  .first-th {
    width: 10%;
  }

  .tipoAl-th {
    width: 11%;
  }

  .progRigo-th {
    width: 9%;
  }
  .desc-aliq-th {
    width: 17%;
  }

  #tipoAliquotaSelect, #descAliquotaSelect {
    border-left: 1px solid #ced4da;
  }

  .valid-th {
    width: 15%;
  }

  .last-button-col {
    width: 24%;
  }
 
  
