<!-- DIV principale -->
<div class=" principal-div" id="principal-div" name="principal-div">
    <!-- SPINNER -->
    <sigas-spinner *ngIf="loaderPage"></sigas-spinner>
    <!-- CHECK LOAD PAGE -->
    <div *ngIf="!loaderPage">
        <!-- CARD PRIMARY DIV -->
        <div class="card card-primary center-default">
            <div class="card-header text-white">                
                <h1 class="h1-font"><strong>ALIQUOTE</strong></h1>
            </div>
            <div [ngStyle]="{'display': !updateAliquota && !nuovaAliquota ? 'block' : 'none'}" >


                <!-- Gestione alert message -->
                <sigas-alert  *ngIf="!errorShow" [message]="'Per inserire un nuova Aliquota selezionare il pulsante \'Nuova\' '"
                    [type]="'INFO'">
                </sigas-alert>                
                <sigas-alert [message]="errorMsg" [type]="'DANGER'" *ngIf="errorShow" ></sigas-alert>
                <sigas-alert [message]="messageSuccess" [type]="'SUCCESS'" *ngIf="showSuccess" ></sigas-alert>
                <!-- Gestione alert message FINE -->
                <!-- CARD BODY CONTAINER -->
                <div class="card-body container mainDiv" style="padding-top: 0;">
                    <div class="form-group col-lg-12 border-bottom newButton">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary margin-icon" (click)="addRow()">
                                <i class="fa fa-check glyphicon glyphicon-saved"></i> Nuova</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-12">
                                <!-- spinner -->
                                <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>

                                <!-- Table -->
                                <table [style.display]="!loaderDT ? '' : 'none' " id="elenco-aliquote"
                                    class="row-border hover table" datatable [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger" width="100%">

                                    <!-- Table head -->
                                    <thead>
                                        <tr>
                                            <th class="dt-center first-th">Aliquota</th>
                                            <th class="dt-center tipoAl-th">Tipo Aliquota</th>
                                            <th class="dt-center desc-aliq-th">Descrizione Aliquota</th>
                                            <th class="dt-center valid-th">Validità dal</th>
                                            <th class="dt-center valid-th">Validità al</th>
                                            <th class="dt-center progRigo-th">ProgRigo</th>
                                            <td class="last-button-col dt-center"></td>
                                        </tr>
                                    </thead>

                                    <!-- Table body -->
                                    <tbody>
                                        <tr class="pointer" *ngFor="let el of elencoAliquote; let i = index">
                                            <!-- ALIQUOTA -->
                                            <td class="dt-center">{{ el.aliquota }}</td>
                                            <!-- TIPO ALIQUOTA -->
                                            <td class="dt-center">{{ el.tipoAliquote.nomeAliquota }}</td>
                                            <!-- DESCRIZIONE -->
                                            <td class="dt-center">{{ el.tipoAliquote.descrizione }}</td>
                                            <!-- VALIDITA DAL -->
                                            <td class="dt-center">{{ el.validitaStart | date : 'dd/MM/yyyy' }}</td>
                                            <!-- VALIDITA AL -->
                                            <td class="dt-center">{{ el.validitaEnd | date : 'dd/MM/yyyy' }}</td>
                                            <!-- PROGRIGO -->
                                            <td class="dt-center">{{ el.progRigo }}</td>
                                            <td class="dt-center">
                                                
                                                <!-- Pulsante modifica Aliquota gia modificata -->
                                                <div class="btn-group" *ngIf="!el.modificabile" >
                                                    <button type="button" class="btn btn-primary margin-icon"
                                                        (click)="editRow(el)" disabled title="Aliquota già utilizzata">
                                                        <i class="fas fa-edit"></i> Modifica</button>
                                                </div>

                                                <!-- Pulsante modifica -->
                                                <div class="btn-group" *ngIf="el.modificabile">
                                                    <button type="button" class="btn btn-primary margin-icon"
                                                        (click)="editRow(el)" >
                                                        <i class="fas fa-edit"></i> Modifica</button>
                                                </div>
                                             <!--   <div class="btn-group">
                                                    <button type="button" (click)="deleteRow(el)"
                                                        class="btn btn-danger">
                                                        <i class="fa fa-times"></i> Cancella</button>
                                                </div>-->

                                                <!-- Pulsante cancella Aliquota gia modificata -->
                                                <div class="btn-group margin" *ngIf="!el.modificabile" >
                                                    <button type="button" (click)="deleteRow(el)" data-toggle="modal" data-target="#dialogConferma" 
                                                    class="btn btn-danger"  disabled title="Aliquota già utilizzata">
                                                        <i class="fa fa-times"></i> Cancella</button>
                                                </div>

                                                <!-- Pulsante cancella aliquota -->
                                                <div class="btn-group margin" *ngIf="el.modificabile">
                                                    <button type="button" (click)="deleteRow(el)" data-toggle="modal" data-target="#dialogConferma" 
                                                    class="btn btn-danger"  >
                                                        <i class="fa fa-times"></i> Cancella</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CARD BODY CONTAINER -->
            </div>

            <!-- Gestione modifca / nuova aliquota -->
            <div [ngStyle]="{'display': updateAliquota || nuovaAliquota ? 'block' : 'none'}" >
                <sigas-alert [message]="errorMsg" [type]="'DANGER'" *ngIf="errorShow" ></sigas-alert>
                <div class="principal-div">
                    <sigas-spinner *ngIf="loaderModPage"></sigas-spinner>

                    <!-- Gestione NUOVA -->
                    <div *ngIf="!loaderModPage">
                        <!-- INIZIO FORM DATI -->
                        <form #insNuovaAliquota="ngForm" (ngSubmit)="onSubmitSalva()">
                            <div class="contains">
                                <div class="col-lg-12 hight">
                                    <div class="form-group row">
                                        <div class="form-group col-lg-12 text-center">
                                            <span *ngIf="updateAliquota" class="title h4-font">Modifica aliquota</span>
                                            <span *ngIf="nuovaAliquota" class="title h4-font">Nuova aliquota</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 hight">
                                            <div class="form-group row">
                                                <label id="lblTipoAliquotaSelect" for="tipoAliquotaSelect" class="col-lg-4 offset-lg-1 col-form-label">Tipo Aliquota</label>
                                                <div class="col-lg-6 col-value">
                                                    <div>
                                                        <select class="form-control" id="tipoAliquotaSelect" aria-labelledby="lblTipoAliquotaSelect"
                                                            [(ngModel)]="aliquotaToSave.tipoAliquote.tipo"
                                                            name="tipoAliquotaSelect"
                                                            (change)="ricercaDescrizioni(aliquotaToSave.tipoAliquote.tipo)"
                                                            required>
                                                 <!--  	 <option>civile</option>
                                                            <option>industriale</option>
                                                            <option>nuovi allacciamenti</option> -->	
                                                            <option
                                                                *ngFor="let tipoAliq of listAliquote"
                                                                [value]="tipoAliq">
                                                                {{ tipoAliq }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <!-- ALIQUOTA -->
                                                <label id="lblAliquota" for="aliquota" class="col-lg-4 offset-lg-1 col-form-label">Aliquota</label>
                                                <div class="col-lg-6 col-value">
                                                    <div>
                                                        <input type="number" class="form-control col-lg-7" id="aliquota" aria-labelledby="lblAliquota"
                                                            placeholder="Aliquota" [(ngModel)]="aliquotaToSave.aliquota"
                                                            name="aliquota" #aliquota="ngModel" min="0" required
                                                             (change)="limiteNumber(aliquotaToSave.aliquota)">
                                                    </div>
                                                </div>
                                                <!-- END ALIQUOTA -->
                                            </div>
                                            <div class="form-group row">
                                                <!-- PROGRIGO -->
                                                <label id="lblProgRigo" for="progRigo" class="col-lg-4 offset-lg-1 col-form-label">ProgRigo</label>
                                                <div class="col-lg-6 col-value">
                                                    <div>
                                                        <input type="number" class="form-control col-lg-7" id="progRigo" aria-labelledby="lblProgRigo"
                                                            placeholder="progRigo" min="0"
                                                            [(ngModel)]="aliquotaToSave.progRigo" name="progRigo"
                                                            #progRigo="ngModel" required>
                                                    </div>
                                                </div>
                                                <!--END PROGRIGO -->
                                            </div>
                                        </div>
                                        <div class="col-lg-5 hight">
                                            <div class="form-group row">
                                                <!-- DESCRIZIONE ALIQUOTA -->
                                                <label id="lblDescAliquotaSelect" for="descAliquotaSelect" class="col-lg-5 col-form-label">
                                                    Descrizione Aliquota:</label>
                                                <div class="col-lg-7 col-value">
                                                    <div>
                                                        <select class="form-control" id="descAliquotaSelect" aria-labelledby="lblDescAliquotaSelect"
                                                            (change)="setTipoAliquota($event.target.value)"
                                                            [(ngModel)]="aliquotaToSave.tipoAliquote.idTipoAliquota"
                                                            name="descAliquotaSelect" required>
                                                            <option></option>
                                                            <option
                                                                *ngFor="let tipoAl of tipiAliquotaModel"
                                                                [value]="tipoAl.idTipoAliquota">
                                                                {{ tipoAl.descrizione }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <!-- VALIDITA DAL -->
                                                <label id="lblValidDal" for="validDal" class="col-lg-5 col-form-label">Validità dal</label>
                                                <div class="col-lg-6 col-value">
                                                    <div class="input-group">
                                                    <!-- 
                                                        <input type="date" class="form-control col-lg-11" id="validDal"
                                                            [(ngModel)]="aliquotaToSave.validitaStart" name="validDal"
                                                            (change)="aliquotaToSave.validitaEnd = aliquotaToSave.validitaStart"
                                                            #validDal="ngModel" required> 
                                                             -->
                                                            
                                                          <input #validDal="ngbDatepicker"
				                                               (click)="validDal.toggle()"
				                                               [(ngModel)]="dataValiditaDal"
				                                               [footerTemplate]="footerTemplateDal"
				                                               class="form-control col-mg-8 col-lg-8"
				                                               class="form-control"
				                                               name="validDal"
				                                               id="validDal"
                                                               aria-labelledby="lblValidDal"
				                                               ngbDatepicker
				                                               placeholder="gg/mm/aaaa"
				                                               readonly>
				                                        <ng-template #footerTemplateDal>
				                                            <hr class="my-0">
				                                            <button (click)="dataValiditaDal = null; validDal.close();"
				                                                    class="btn btn-primary btn-sm m-2 float-left">Pulisci
				                                            </button>
				                                            <button (click)="validDal.close()"
				                                                    class="btn btn-secondary btn-sm m-2 float-right">Chiudi
				                                            </button>
				                                        </ng-template>
				                                        <div class="input-group-append">
				                                            <button (click)="validDal.toggle()" class="btn btn-outline-secondary calendar"
				                                                    type="button">
				                                                <svg _ngcontent-c4="" class="svg-inline--fa fa-calendar-alt fa-w-14" 
                                                                     aria-hidden="true" 
                                                                     focusable="false" data-prefix="far" data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg" 
                                                                     viewBox="0 0 448 512" data-fa-i2svg="">                                                                     
                                                                     <title>Calendar</title>
                                                                     <path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>
				                                                <!--<i class="far fa-calendar-alt"></i>-->
				                                            </button>
				                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label id="lblValidAl" for="validAl" class="col-lg-5 col-form-label">Validità al</label>
                                                <div class="col-lg-6 col-value">
                                                    <div class="input-group">
                                                    <!-- 
                                                        <input type="date" class="form-control col-lg-11" id="validAl"
                                                            [(ngModel)]="aliquotaToSave.validitaEnd" name="validAl"
                                                            #validAl="ngModel"
                                                            min="{{ aliquotaToSave.validitaStart | date:'yyyy-MM-dd'}}"
                                                            required>
                                                           -->  
                                                        <input #validAl="ngbDatepicker"
			                                               (click)="validAl.toggle()"
			                                               [(ngModel)]="dataValiditaAl"
			                                               [footerTemplate]="footerTemplateAl"
			                                               class="form-control col-mg-8 col-lg-8"
			                                               class="form-control"
			                                               name="validAl"
			                                               id="validAl"
                                                           aria-labelledby="lblValidAl"
			                                               ngbDatepicker
			                                               placeholder="gg/mm/aaaa"
			                                               readonly>
				                                        <ng-template #footerTemplateAl>
				                                            <hr class="my-0">
				                                            <button (click)="dataValiditaAl = null; validAl.close();"
				                                                    class="btn btn-primary btn-sm m-2 float-left">Pulisci
				                                            </button>
				                                            <button (click)="validAl.close()"
				                                                    class="btn btn-secondary btn-sm m-2 float-right">Chiudi
				                                            </button>
				                                        </ng-template>
				                                        <div class="input-group-append">
				                                            <button (click)="validAl.toggle()" class="btn btn-outline-secondary calendar"
				                                                    type="button">
				                                                <svg _ngcontent-c4="" class="svg-inline--fa fa-calendar-alt fa-w-14"
                                                                 aria-hidden="true" focusable="false" data-prefix="far" 
                                                                 data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg" 
                                                                 viewBox="0 0 448 512" data-fa-i2svg="">
                                                                 <title>Calendar</title>
                                                                 <path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>
				                                                <!--<i class="far fa-calendar-alt"></i>-->
				                                            </button>
				                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bs-example" data-example-id="single-button-dropdown">
                                        <div class="form-group row col-lg-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-default margin-icon btn-standard"
                                                        (click)="goBack()" role="button">
                                                        <i class="fa fa-angle-left"></i>
                                                        indietro</a>
                                                </div>
                                                <div class="btn-group">
                                                    <button *ngIf="nuovaAliquota" type="submit" [disabled]="!insNuovaAliquota.form.valid"
                                                        class="btn btn-primary margin-icon btn-standard">
                                                        <i class="fas fa-angle-down"></i> Salva</button>
                                                    <button *ngIf="updateAliquota" type="button" [disabled]="!insNuovaAliquota.form.valid"
                                                        class="btn btn-primary margin-icon btn-standard" (click)="onClickModifica()">
                                                        <i class="fas fa-angle-down"></i> Salva</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                         <!-- END FORM DATI -->
                    </div>
                     <!--END Gestione NUOVA -->
                </div>
            </div>
        </div>
         <!--END CARD PRIMARY DIV -->
    </div>
     <!--END CHECK LOAD PAGE -->
</div>

<div class="modal fade" id="dialogConferma" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        
             <div class="modal-header">
               <span class="modal-title h5-font">Attenzione</span>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Gestione messaggio -->
            <div class="modal-body">
                <p>
                    <span *ngIf="messageDialog!=null">{{messageDialog}}</span>
                </p>
            </div>


            <!-- Gestione pulsanti -->
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
               <button type="button" class="btn btn-primary" (click)="confermaEliminaAliquota()">Conferma</button>
            </div>
        </div>

    </div>
</div>