<div class="principal-div">
	<sigas-spinner *ngIf="!loaderInserimentoSoggettoPage"></sigas-spinner>
	<div  *ngIf="loaderInserimentoSoggettoPage" class="card card-primary center-default">
		<div class="card-header text-white">
			<strong>Ricerca Telematica - Ricerca</strong>
		</div>
		<div>
			<sigas-alert
				[message]="'Inserire l\'IUV (Identificativo Univoco di Versamento) per scaricare la ricevuta telematica. Lo IUV è reperibile nella mail di conferma pagamento inviata al contribuente se il pagamento è stato effettuato con PiemontePay '" [type]="'INFO'"></sigas-alert>
			<div class="card-body container">
				<div class="form-group row">
					<div class="col-lg-12">

						<div class="form-group col-lg-12">
								<form #insPayment="ngForm">
									<div class="panel-body">

										<div class="form-group col-lg-12">
											<div class="row row-spaced-top">
												<label for="iuv" class="col-lg-1 col-form-label">IUV:</label>
												<sigas-spinner-form [diameter]="30" *ngIf="loaderYear;  else elseAnnoCaricato"></sigas-spinner-form>
													<div class="col-lg-6">
														<input type="text" class="form-control" id="iuv"
															 [(ngModel)]="foPayService.searchReq.iuv" name="iuv"
															#denominazione="ngModel"  maxlength="30" size="80" required>   
														<!--div *ngIf="denominazione.invalid && (denominazione.dirty || denominazione.touched)" class="alert alert-danger">
															<div *ngIf="denominazione.errors.required ">
																L'importo è richiesto.
															</div>
														</div-->
													</div>
											</div>
										</div>

										<sigas-alert *ngIf="noIUVFound" [message]="'Non sono stati trovati pagamenti asssociati allo IUV selezionato.'" [type]="'WARNING'"></sigas-alert>

										<br><br>

										<!--pulsanti-->
                                        <div class="bs-example" data-example-id="single-button-dropdown">
											<div class="form-group row col-lg-12">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
													<div class="btn-group">
														<a class="btn btn-default margin-icon btn-standard" (click)="goBack()" role="button">
															<i class="fa fa-angle-left"></i> Cancella</a>
													</div>
													<div class="btn-group">
														<button type="submit" [disabled]="!insPayment.form.valid" class="btn btn-primary margin-icon" (click)="onSubmit()">
															<i class="fas fa-check"></i> Conferma</button>
													</div>
												</div>
											</div>
										</div>
  
				
									</div>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>