//Import di sistema
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import 'app/color.scss';

//Gestione NG
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
//------------------

//card
.card-primary>.card-header{
    background-color: $bgDefault;
}
.card-primary {
    border-color: $bgDefault;
    font-size: 14px;
}
//---------------------

//Gestione pulsanti
.btn {
    font-size: 14px;
}

.btn-standard {
    padding-right: 32px;
    padding-left: 32px;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #005CA9;
    border-color: #005CA9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #114172;
    border-color: #114172;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #14233A;
    border-color: #14233A;
}

//Default
.btn-default, .btn-default.focus, .btn-default:focus {
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    border-color: #ccc;
}
//------------------

//Gestione custom
.form-control{
    font-size: 14px;
}
.pointer{
    &:hover{
      cursor: pointer;
    }      
}

.principal-div{
    padding-top: 3%;
    padding-bottom:3%
}

.margin-icon{
    margin-right: 5px;
}
//-------------

//Gestione FONT
@font-face {
    font-family: 'open_sansregular';
    src: url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.eot');/* IE9 Compat Modes */
    src: url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),/* Safari, Android, iOS */
    url('assets/fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');/* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
//--------------------


body{  font-family: open_sansregular, Fallback, sans-serif; font-size: 14px;} 

//Gestione center
.center-search {
    margin: auto;
    width: 60%;
}

.center-default{
    margin: auto;
    width: 95%;
}

.center-all{
    margin: auto;
    width: 95%;
}
//-----------

.maiuscolo{
    text-transform: uppercase;
}

.minuscolo{
    text-transform: lowercase;
}

.border-botton{
    border-bottom: 1px solid #dddddd;
}

.padding-search{
  padding: 30px; 
}

.title{
    color: #0153A9; 
    text-transform: uppercase;
    font-size: 1.6em; 
}

.col-form-label {
    padding-top: 6px;
    font-weight: bold;
}


//panel
.panel-sigas {
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-grey-sigas>.panel-heading-sigas {
  color: #000000;
  background-color: #d8d8d8;
  border-color: #8e8e8d;
}

.panel-heading-sigas {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.panel-primary-sigas>.panel-heading-sigas {
  color: #fff;
  background-color: #0153a9;
  border-color: #0153a9;
}

//template
.small-font {
  font-size: 10px;
}


.panel-body-background{
  background-color: #f9f9f9;
}


//gestiscono la centratura
.height-75{
  min-height:85vh;
}

.vcenter{
  display:table-cell;
  vertical-align: middle;
}

.table{
display: table;
}

.padding-checkbox{
  padding: 20px 20px;
}

//Gestione sostituzione h5
.h5-font {
    font-size: 1.5em; /* 40px/16=2.5em */
 } 