<!--<footer class="footer" role="contentinfo">
    <div class="container-fluid">
        <div class="row footerCsi">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img alt="Sito Ufficiale della Regione Piemonte" src="assets/logocsi.png">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                Regione Piemonte - Partita Iva 02843860012 - Codice fiscale 80087670016 -
                <a title="Accessibilità" href="http://www.sistemapiemonte.it/cms/privati/accessibilita">Accessibilità</a>&nbsp;|&nbsp;
                <a title="Privacy" href="http://www.sistemapiemonte.it/cms/privati/privacy">Privacy</a>&nbsp;|&nbsp;
                <a title="Cookies policy" href="http://www.sistemapiemonte.it/cms/privati/cookies-policy">Cookie policy</a>
            </div>

        </div>
    </div>
</footer>-->

<footer _ngcontent-c3="" class="page__footer" role="contentinfo" id="footer" aria-label="informazioni sull'ente">
    <div class="container">
        <div class="region region-footer">
            <div id="block-piedipagina" class="block block-menu-block block-menu-blockfooter">
                <div class="content">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://www.regione.piemonte.it/web/cookie-policy" class="nav-link">Cookie policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.regione.piemonte.it/web/note-legali-privacy" class="nav-link">Note legali e privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
