<!--Footer-->
<footer _ngcontent-c3="" class="page__footer" role="contentinfo" id="footer" aria-label="informazioni sull'ente">
    <!--Div princiaple e/o container-->
    <div class="container">
        <div class="region region-footer">
            <div id="block-piedipagina" class="block block-menu-block block-menu-blockfooter">
                <div class="content">
                    <ul class="nav">
                        <!--Link cookie policy-->
                        <li class="nav-item">
                            <a href="https://www.regione.piemonte.it/web/cookie-policy" class="nav-link">Cookie policy</a>
                        </li>
                        <!--Link note legali-->
                        <li class="nav-item">
                            <a href="https://www.regione.piemonte.it/web/note-legali-privacy" class="nav-link">Note legali e privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Div princiaple e/o container FINE-->
</footer>
