#-------------------------------------------------------------------------------
# SPDX-License-Identifier: EUPL-1.2
# Copyright Regione Piemonte - 2020
#-------------------------------------------------------------------------------
####################################################
# test - tstjaxrs                  #
# ==========                                       #
# Configurazione di ambiente: <ambiente>           #
####################################################

# impostare a true nel caso in cui si debba disabilitare 
# la protezione XSRF
xsrffilter.disabled=false

