<div role="listbox" aria-label="Navigazione nascosta per screen reader" id="idDivToContPrin" tabindex="-1"></div>
<div aria-relevant="true">    
    <a href='#principal-div-id'  
       class="skip-link" 
       role="listitem" 
       id="idAnchorToContPrin">Vai al contenuto principale</a>                                
</div>
<!-- MAIN DIV -->
<div class="principal-div" id="principal-div-id" name="principal-div-id">
    <!-- CARD DIV -->
    <div class="card card-primary center-default">
        <div class="card-header text-white">            
            <h1 class="h1-font"><strong>TASSI DI INTERESSE</strong></h1>
        </div>
     
        <div>
            <!--alert component-->
            <sigas-alert [message]="'Per inserire un nuovo tasso selezionare il pulsante Nuovo'" *ngIf="!showSuccess && !showMessageError"  [type]="'INFO'"></sigas-alert>
            <sigas-alert [message]="messageSuccess" *ngIf="showSuccess" [type]="'SUCCESS'"></sigas-alert>
            <sigas-alert [message]="messageError" *ngIf="showMessageError" [type]="'DANGER'"></sigas-alert>
            <!-- END ALERT -->
             <div class="card-body container">
                <!--testata-->
                    <!--anno-->
                    <div class="form-group col-lg-10">
                        <div class="btn-group">
                              <button type="button" class="btn btn-primary margin-icon"  (click)="addTasso()" [disabled]="disableButton"  >
                                   <i class="fa fa-check"></i>  Nuovo</button>
                        </div>
                    </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">
                                <!--spinner component-->
                                <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>                                   
                                   <!--table section-->
                                   <table [style.display]="!loaderDT ? '' : 'none' " id="elenco-tassi"  class="row-border hover" 
                                    datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%">

                                    <!--table head -->
                                    <thead>
                                        <tr>
                                            <th class="dt-center">Tasso</th>
                                            <th class="dt-center">Tipo Tasso</th>
                                            <th class="dt-center">Validità dal</th>
                                            <th class="dt-center">Validità al</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <!--table body -->
                                    <tbody>
                                       <tr class ="pointer" *ngFor="let tasso of elencoTassi; let i = idx " >
                                         <ng-template [ngTemplateOutlet]="loadTemplate(tasso)"  [ngTemplateOutletContext]="{ $implicit: tasso, idx: i }"></ng-template>
                                      </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
             </div>
        </div> 
   </div>
   <!--END  CARD DIV -->
</div>
<!-- template -->
<ng-template #readOnlyTemplate let-tasso>
     <td class="dt-center">{{ tasso.valore/100 | percent:'1.3':'it'}}</td>
     <td class="dt-center">
           <div *ngFor="let prov of tipoTassiModel" >
              <div *ngIf="prov.idTipoTasso==tasso.idTipoTasso"> {{prov.nomeTasso}}
           </div>
           </div>
      </td>
      <!--tasso data start -->
     <td class="dt-center">{{ tasso.dataStart  | date: 'dd/MM/yyyy' }}</td>

     <!--tasso data end -->
     <td class="dt-center">{{ tasso.dataEnd  | date: 'dd/MM/yyyy'}}</td>

    <td class="dt-center">
        <!-- Pulsanti -->
        <div class="btn-group">
          <!-- modifica -->                                                    
          <button type="button" class="btn btn-primary"  (click)="modificaTasso(tasso)" [disabled]="disableButton" >
                <i class="fas fa-edit"></i> Modifica</button>
        </div>                                                
       <div class="btn-group margin">
            <!-- elimina -->
            <button type="button" (click)="eliminaTasso(tasso)" data-toggle="modal" data-target="#dialogConferma" class="btn btn-danger" [disabled]="disableButton" >
                <i class="fa fa-times"></i> Cancella</button>
        </div>
   </td>
    
</ng-template>
<!--Ends Here-->
<!--The Html Template for Editable Rows-->
<ng-template #editTemplate>
    <td>
      <div>  
          <input type="number" id="valore"  placeholder="Tasso"  maxlength="10" 
           [(ngModel)]="tassiModel.valore" name="valore" class="form-control"
            #valore="ngModel" required  >
            <!-- check -->
            <div *ngIf="valore.invalid && (valore.dirty || valore.touched)" class="alert alert-danger">
                <div *ngIf="valore.errors.required ">
                    Il Valore è richiesto.
                </div>                
            </div>
      </div>
    </td>
    <td>
        <!-- spinner component-->
        <sigas-spinner-form [diameter]="30" *ngIf="!loaderTipoTassi;  else elseTipoTassiCaricati"></sigas-spinner-form>
        <!-- END SPINNER -->
        <!-- TEMPLATE -->
        <ng-template #elseTipoTassiCaricati>

            <!--Select per i tipi di tassi -->
           <select class="form-control" id="tipoTassi" [(ngModel)]="tassiModel.idTipoTasso" name="tipoTassi"  required>
                <option *ngFor="let tipt of tipoTassiModel" [value]="tipt.idTipoTasso">{{tipt.nomeTasso}}</option>
           </select>
        </ng-template>
        
    </td>
    <td>
            
            <div class="input-group">
                                                    
                                                            
                                                          <input #dataStart="ngbDatepicker"
				                                               (click)="dataStart.toggle()"
				                                               [(ngModel)]="dataInizio"
				                                               [footerTemplate]="footerTemplateDataStart"
				                                               class="form-control col-mg-8 col-lg-6 "
				                                               class="form-control"
				                                               name="dataStart"
				                                               id="dataStart"
				                                               ngbDatepicker
				                                               placeholder="gg/mm/aaaa"
				                                               readonly
				                                               required>
				                                        <ng-template #footerTemplateDataStart>
				                                            <hr class="my-0">
                                                            <!-- BUTTON PULISCI -->
				                                            <button (click)="dataInizio = null; dataStart.close();"
				                                                    class="btn btn-primary btn-sm m-2 float-left">Pulisci
				                                            </button>
                                                            <!-- BUTTON CHIUDI -->
				                                            <button (click)="dataStart.close();"
				                                                    class="btn btn-secondary btn-sm m-2 float-right">Chiudi
				                                            </button>
				                                        </ng-template>
				                                        <div class="input-group-append">
				                                            <button (click)="dataStart.toggle()" class="btn btn-outline-secondary calendar"
				                                                    type="button">
				                                                <svg _ngcontent-c4="" class="svg-inline--fa fa-calendar-alt fa-w-14" aria-hidden="true" 
                                                                focusable="false" data-prefix="far" data-icon="calendar-alt" 
                                                                role="img" xmlns="http://www.w3.org/2000/svg" 
                                                                viewBox="0 0 448 512" data-fa-i2svg="">
                                                                <title>Calendario</title>
                                                                <path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>
				                                                <!--<i class="far fa-calendar-alt"></i>-->
				                                            </button>
				                                        </div>  
                                                    </div>
    </td>
    <td>            
                    <div class="input-group">
                               
                                       
                        <input #dataEnd="ngbDatepicker"
                              (click)="dataEnd.toggle()"
                              [(ngModel)]="dataFine"
                              [footerTemplate]="footerTemplateDataEnd"
                              class="form-control col-mg-8 col-lg-6 "
                              class="form-control"
                              name="dataEnd"
                              id="dataEnd"
                              ngbDatepicker
                              placeholder="gg/mm/aaaa"
                              readonly
                              required>
                       <ng-template #footerTemplateDataStart>
                           <hr class="my-0">
                           <!-- PULISCI -->
                           <button (click)="dataFine = null; dataEnd.close();"
                                   class="btn btn-primary btn-sm m-2 float-left">Pulisci
                           </button>
                           <!-- CHIUDI -->
                           <button (click)="dataEnd.close();"
                                   class="btn btn-secondary btn-sm m-2 float-right">Chiudi
                           </button>
                       </ng-template>
                       <div class="input-group-append">
                           <button (click)="dataEnd.toggle()" class="btn btn-outline-secondary calendar"
                                   type="button">
                               <svg _ngcontent-c4="" class="svg-inline--fa fa-calendar-alt fa-w-14" aria-hidden="true" focusable="false" 
                               data-prefix="far" data-icon="calendar-alt" role="img" 
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                               <title>Calendario</title>
                               <path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>                               
                           </button>
                       </div>  
                  </div>
    </td>    
    <td class="dt-center">
      <!-- Pulsanti -->  
      <div class="btn-group">
         <!-- save -->
         <button type="button"  class="btn btn-success" (click)="saveTasso()">
            <i class="fas fa-angle-down"></i> Salva</button>        
      </div>
      <div class="btn-group margin">
        <!-- annulla -->
        <input type="button" value="Annulla" (click)="annulla()" class="btn btn-warning" />
      </div>
   </td> 
</ng-template>
<!-- Dialog-->
<div class="modal fade" id="dialogConferma" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">        
             <div class="modal-header">
               <span class="modal-title h5-font">Attenzione</span>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
                    <!-- MODAL BODY -->
            <div class="modal-body">
                <p>
                    <span *ngIf="messageDialog!=null">{{messageDialog}}</span>
                </p>
            </div>
            <!-- MODAL FOOTER -->
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
               <button type="button" class="btn btn-primary" (click)="confermaEliminaTasso()">Conferma</button>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
</div>
