<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        
             <div class="modal-header">
               <h4 class="modal-title">{{titolo}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <p>
                    <span *ngIf="testo!=null; else submessageElse">{{testo}}</span>
                    <span #submessageElse *ngFor="let s of subMessages">{{s}}
                        <br>
                    </span>
                </p>
            </div>
            <div class="modal-footer" *ngIf="!hideButton">
                <button type="button" class="btn btn-default" (click)="closeS()">{{buttonAnnullaText}}</button>
                <button type="button" class="btn btn-primary" (click)="saveS()">{{buttonConfirmText}}</button>
            </div>
        </div>

    </div>
</div>

<!--utilizza wiew child!-->
<!--<div class="modal fade" #myModal2 role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">{{titolo}}</h4>
            </div>
            <div class="modal-body">
                <p>{{testo}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary">Salva</button>
            </div>
        </div>

    </div>
</div>-->