<div class="container-fluid">
    <div class="principal-div col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    <sigas-spinner *ngIf="!loaded"></sigas-spinner>
    <div class="principal-div col-xs-12 col-sm-12 col-md-10 col-lg-10" *ngIf="loaded" style="padding-top: 30px">
        <div class="panel-primary-sigas panel-sigas ">
            <form #intestazione="ngForm">
                <div class="panel-body panel-body-background" style="background-color: #ffffff">
                    <shared-template-intestazione></shared-template-intestazione>

                    <div [ngSwitch]="id">
                        <div >
                            <template-lettera-risposta></template-lettera-risposta>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>