<!-- DIV Container -->
<div class="container">

    <div class="principal-div col-xs-12 col-sm-12 col-md-1 col-lg-1" id="principal-div" name="principal-div"></div>

    <!-- Gestione spinner component -->
    <sigas-spinner *ngIf="!loaded"></sigas-spinner>


    <div id="scrollTop"></div>

    <div *ngIf="loaded" class="principal-div col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-top: 30px">
        <div class="panel-primary-sigas panel-sigas ">



            <!-- Gestione alert -->
            <sigas-alert *ngIf="showMessageTop" [message]="messageTop" [type]="typeMessageTop"></sigas-alert>

            <form #intestazione="ngForm">
                <div class="panel-body panel-body-background" style="background-color: #ffffff">

                    <!-- Gestione anteprima / stampa -->
                    <ng-container *ngIf="!isPrinted || isStampa">
                        <template-lettera-risposta (formValid)="setFormValidTemplate($event)"
                                                   [data]="datiTemplateModel">
                        </template-lettera-risposta>
                    </ng-container>

                    <div *ngIf="isStampa && isAnteprima && isPrinted && !isStampaProtocollata"
                         class="alert alert-warning col-xs-12 col-sm-12 col-md-12 col-lg-12" role="alert">
                        <strong>Attenzione!</strong> Attendere l'abilitazione dei tasti. Per poter scaricare il PDF
                        cliccare su 'Scarica PDF' oppure cliccare su 'Indietro'.
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">

                        <!-- INDIETRO ??? -->
                        <button (click)="indietro()"
                                *ngIf="!isAnteprima"
                                class="btn-sigas button-light-blue"
                                type="button">
                            <i class="glyphicon glyphicon-arrow-left btn-glyphicon img-circle text-light-blue-sigas"></i>
                            Indietro
                        </button>

                        <!-- INDIETRO -->
                        <button (click)="indietro()"
                                *ngIf="isStampa"
                                [disabled]="!isStampaProtocollata"
                                class="btn-sigas button-light-blue"
                                type="button">
                            <i class="glyphicon glyphicon-arrow-left btn-glyphicon img-circle text-light-blue-sigas"></i>
                            Indietro
                        </button>

                        <!-- PROTOCOLLA -->
                        <button (click)="protocollaLetteraRisp()"
                                *ngIf="isStampa"
                                [disabled]="!isStampaProtocollata"
                                class="btn-sigas button-grey"
                                type="button">
                            <i class="glyphicon glyphicon-floppy-save btn-glyphicon img-circle text-grey-sigas"></i>
                            Protocolla
                        </button>

                        <!-- VISUALIZZA ANTEPRIMA -->
                        <button (click)="visualizzaAnteprima()"
                                *ngIf="!isAnteprima"
                                [disabled]="!visualizzaAnteprimaValidTemplate"
                                class="btn-sigas button-green"
                                type="button">
                            <i class="glyphicon glyphicon-eye-open btn-glyphicon img-circle text-green-sigas"></i>
                            Visualizza Anteprima
                        </button>

                        <!-- MODIFICA -->
                        <button (click)="proseguiModifica()"
                                *ngIf="isAnteprima && !isPrinted && !isStampa"
                                class="btn-sigas button-green"
                                type="button">
                            <i class="glyphicon glyphicon-pencil btn-glyphicon img-circle text-green-sigas"></i>
                            Modifica
                        </button>

                        <!-- CREA PDF -->
                        <button (click)="stampaPDF()"
                                *ngIf="isAnteprima && !isPrinted && !isStampa"
                                class="btn-sigas button-grey"
                                type="button">
                            <i class="glyphicon glyphicon-print btn-glyphicon img-circle text-grey-sigas"></i>
                            Crea PDF
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Gestione dialog component-->
<sigas-dialog [buttonAnnullaText]="'No'"
              [buttonConfirmText]="'Si'"
              [titolo]="'Indietro'"
              testo="'Sei sicuro?'">
</sigas-dialog>
