<!-- MAIN DIV -->
<div class="principal-div" id="principal-div" name="principal-div">
    <h1 *ngIf="foPayService" class="title" style="padding-left:15px">Carrello pagamenti mese di competenza {{getMonths()}} {{foPayService.cartReq.year}}
        della denominazione azienda: {{foPayService.cartReq.subjectName}}</h1>
        <!-- SPINNER -->
    <sigas-spinner *ngIf="pageLoadingInProgress"></sigas-spinner>
    <!-- FORM DATI -->
    <form *ngIf="!pageLoadingInProgress" #carrelloPagamenti="ngForm" (ngSubmit)="onSubmit()">        
        <div style="padding-left: 5px; padding-right: 5px; margin-top: 20px">
            <!-- MAIN CARD -->
            <div class="card card-primary">
                <!-- ALERT -->
            <sigas-alert [message]="message" *ngIf="showMsg" [type]="levelMessage"></sigas-alert>
                <div class="card-header text-white">
                    <h2 class="h2-font"><strong>DATI GENERALI</strong></h2>
                </div>
                <div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="panel-body" role="main">
                                    <div class="table-responsive">
                                        <!-- Tabella -->
                                        <table class="table table-bordered">

                                            <!-- Body -->
                                            <tbody>
                                                <tr>
                                                    <!-- Denominazione azienda -->
                                                    <th>Denominazione azienda</th>
                                                    <td>{{foPayService.cartReq.subjectName}}</td>
                                                    <!-- Codice Fiscale / P.IVA -->
                                                    <th>Codice Fiscale/P.Iva</th>
                                                    <td>{{foPayService.cartReq.codiceFiscalePIva}}</td>
                                                    <!-- Stato -->
                                                    <th>Stato</th>
                                                    <td>{{getStatus()}}</td>
                                                </tr>
                                                <tr>
                                                    <!-- Mese di competenza -->
                                                    <th>Mese di competenza </th>
                                                    <td>{{getMonths()}}</td>
                                                    <!-- Anno -->
                                                    <th colspan="2">Anno</th>
                                                    <td colspan="2">{{foPayService.cartReq.year}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MAIN CARD -->
        </div>
        <div style="padding-left: 5px; padding-right: 5px; margin-top: 20px">
            <!-- MAIN CARD -->
            <div class="card card-primary">
                <div class="card-header text-white">
                    <h2 class="h2-font"><strong>DETTAGLIO PAGAMENTO</strong></h2>
                </div>
                <div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="panel-body" role="document">

                                    <!-- Table -->
                                    <table class="table table-bordered table-striped" width="100%">
                                        <thead>
                                            <tr>
                                                <!-- Denominazione soggetto -->
                                                <th><b>Denominazione soggetto</b></th>
                                                <!-- Provincia -->
                                                <th><b>Provincia</b></th>
                                                <!-- Mese -->
                                                <th><b>Mese</b></th>
                                                <!-- Tipologia -->
                                                <th><b>Tipologia</b></th>
                                                <!-- Importo -->
                                                <th><b>Importo</b></th>
                                                <td><b></b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class ="pointer" *ngFor="let cartItem of foPayService.cartList | keyvalue">
                                                <!--<td>{{ cartItem.value.subjectCode }}</td>-->
                                                <!-- SOGGETTO -->
                                                <td>{{ cartItem.value.subjectName }}</td>
                                                <!-- AREA -->
                                                <td>{{ cartItem.value.area }}</td>
                                                <!-- MESE -->
                                                <td>{{ cartItem.value.monthString() }}</td>
                                                <!-- TIPOLOGIA -->
                                                <td>{{ cartItem.value.typeString() }}</td>
                                                <!-- IMPORTO -->
                                                <td>{{ getAmount(cartItem.value.amount) | currency:'EUR':'symbol'}}</td>
                                                <td>
                                                    <!-- BUTTON CANCELLA -->
                                                    <div class="btn-group" *ngIf="isDeletable()">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogBox" (click)="dialogBoxShowDestroyCartItem(cartItem.value.id)"><i class="fa fa-times"></i> Cancella</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MAIN CARD -->
        </div>
        <div style="padding-left: 5px; padding-right: 5px; margin-top: 20px">
            <!-- CARD PRINC -->
            <div class="card card-primary">
                <div class="card-header text-white">
                    <h2 class="h2-font"><strong>RIEPILOGO PAGAMENTO</strong></h2>
                </div>
                <div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="panel-body" role="document">

                                    <!-- Table -->
                                    <table class="table table-bordered table-striped">
                                        <tbody>                                            
                                            <tr>
                                                <!-- Totale -->
                                                <th>Totale</th>
                                                <td>{{getTotalAmount() | currency:'EUR':'symbol'}}</td>
                                            </tr>                                            
                                            <tr>
                                                <!-- Codice pagamento -->
                                                <th>Codice di Pagamento</th>
                                                <td>{{foPayService.cartReq.paymentCode}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Alert Section -->
                        <sigas-alert *ngIf="flgCartSaved" [message]="'Bozza salvata correttamente nel carrello. Sarà possibile recuperare questo pagamento in qualunque momento dal menù \'Paga\''" [boldMessage]="causale" [type]="'SUCCESS'"></sigas-alert>
                        <sigas-alert *ngIf="paymentStartedOk" [message]="'Il pagamento è stato avviato con successo. Si prega di aspettare che il pagamento venga confermato per essere indirizzati alla pagina di pagamento PiemontePay.'" [boldMessage]="causale" [type]="'SUCCESS'"></sigas-alert>
                        <sigas-alert *ngIf="paymentStartError" [message]="'E\' avvenuto un errore nell\'avvio del pagamento. Si consiglia di provare in seguito.'" [boldMessage]="causale" [type]="'DANGER'"></sigas-alert>
                        <sigas-alert *ngIf="deleteAllCartOk" [message]="'Il carrello è stato eliminato con successo.'" [boldMessage]="causale" [type]="'SUCCESS'"></sigas-alert>
                        <sigas-alert *ngIf="deleteAllCartError" [message]="deleteAllCartError" [boldMessage]="causale" [type]="'DANGER'"></sigas-alert>    
                        <!-- Alert Section FINE -->

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="panel-body" role="document">
                                    <div class="form-group" *ngIf="!paymentMethods || paymentMethods.length > 1">
                                        <label id="lblTipoPagamento" for="tipoPagamento" class="col-sm-2 control-label">Tipo pagamento</label>
                                        <div class="col-sm-10">
                                            <select class="form-control " [(ngModel)]="foPayService.cartReq.paymentType" 
                                                    id="tipoPagamento" aria-labelledby="lblTipoPagamento" name="tipoPagamento" required>
                                                <option *ngFor="let type of paymentMethods" [ngValue]="type.idTipoPagamento">
                                                    {{type.descTipoPagamento}}
                                                </option>                                                
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Controlli -->                    
                                    <div class="form-group">
                                        <label id="lblMail" for="mail" class="col-sm-2 control-label">Email per ricevuta</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="mail" aria-labelledby="lblMail" placeholder="Email" maxlength="150" [(ngModel)]="foPayService.cartReq.email"
                                                name="email" class="form-control minuscolo" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                #email="ngModel" required>
                                            <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                                                <div *ngIf="email.errors.required ">
                                                    La Email è richiesta.
                                                </div>
                                                <div *ngIf="email.errors.pattern">
                                                    formato email: exemple@exemple.it
                                                </div>
                                                <div *ngIf="email.errors.mailDifferent">
                                                    mail non corrispondente
                                                </div>
                                            </div>
                                        </div>
                                    </div>                    
                                    <div class="form-group">
                                        <label id="lblConfermaMail" for="confermaMail" class="col-sm-2 control-label">Conferma email</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="confermaMail" aria-labelledby="lblConfermaMail" placeholder="Conferma Email" maxlength="150" [(ngModel)]="confermaEmailModel" name="email1"
                                                class="form-control minuscolo" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email1="ngModel"
                                                required>
                                            <div *ngIf="(email1.invalid && email1.touched) || (!checkMails() && email1.touched)" class="alert alert-danger">
                                                <div *ngIf="email1.errors && email1.errors.required ">
                                                    La Email è richiesta.
                                                </div>
                                                <div *ngIf="email1.errors && email1.errors.pattern">
                                                    formato email: exemple@exemple.it
                                                </div>
                                                <div *ngIf="!checkMails()">
                                                    mail non corrispondente
                                                </div>
                                            </div>
                                        </div>
                                    </div>                    
                                    <!--pulsanti-->
                                    <div class="bs-example" data-example-id="single-button-dropdown">
                                        <div class="form-group row col-lg-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-default" (click)="goBack()" role="button">
                                                        <i class="fa fa-angle-left"></i>
                                                        indietro</a>
                                                </div>
                                                &nbsp;
                                                <!-- Cancella -->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" *ngIf="isDeletable()"
                                                            data-toggle="modal" data-target="#dialogBox" (click)="dialogBoxShowDestroyAllCart()">
                                                        <i class="fa fa-times"></i> Cancella</button>
                                                </div>
                                                &nbsp;
                                                <!-- Salva bozza -->
                                                <div class="btn-group">
                                                    <button type="button" [disabled]="!carrelloPagamenti.form.valid || !checkMails()" (click)="saveCart()" class="btn btn-primary">
                                                        <i class="fa fa-save"></i> Salva bozza</button>
                                                </div>
                                                &nbsp;
                                                <!-- Conferma -->
                                                <div class="btn-group">
                                                    <button type="button" [disabled]="!carrelloPagamenti.form.valid || !checkMails() || foPayService.cartReq.status=='40'" (click)="payCart()" class="btn btn-primary">
                                                        <i class="fa fa-check"></i> Conferma</button>
                                                </div>
                                                &nbsp;
                                                <!-- Scarica excel -->
                                                <div class="btn-group">
                                                    <button type="button" [disabled]="!carrelloPagamenti.form.valid" class="btn btn-success btn-excel" (click)="downloadExcelCart()">
                                                        <i class="fa fa-file-excel"></i> Scarica in excel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END CARD PRINC -->
        </div>
    </form>
    <!--END FORM DATI -->
</div>

<!-- Modal Object -->
<div class="modal fade" id="dialogBox" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<span class="modal-title h5-font">{{dialogBoxTitle || 'Carrello'}}</span>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Message -->
                <p>
                    <span>{{dialogBoxMessage}}</span>
                </p>
            </div>
            <!-- Pulsanti -->
            <div class="modal-footer">
                <!-- Annulla -->
               <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dialogBoxDismissButton()">Annulla</button>
               <!-- Conferma -->
               <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dialogBoxConfirmButton()">S&igrave;</button>
            </div>
        </div>
    </div>
</div>