<div role="listbox" aria-label="Navigazione nascosta per screen reader" id="idDivToContPrin" tabindex="-1"></div>
<div aria-relevant="true">    
    <a href='#principal-div-id'  
       class="skip-link" 
       role="listitem" 
       id="idAnchorToContPrin">Vai al contenuto principale</a>                                
</div>
<div>
    <div class="card-body container">
      <!--testata-->
      <div class="form-group col-lg-12 text-center">
        <h3 class="title">Gestione Ratei</h3>
      </div>
      <sigas-alert [message]="messageInfoAggiornaRateo" *ngIf="showMessageInfoAggiornaRateo" [type]="'INFO'"></sigas-alert>                
      <sigas-alert [message]="messageSuccessModRateo" *ngIf="showSuccessModRateo" [type]="'SUCCESS'"></sigas-alert>
      <sigas-alert [message]="messageErrorModRateo" *ngIf="showMessageErrorModRateo" [type]="'DANGER'"></sigas-alert>
      <div class="form-group row padding-search" id="principal-div-id" name="principal-div-id">
          <div class="form-group-lg col-lg-12">
              <div class="row">
                  <!--Anno-->
                  <label id="lblAnnoRifRateo" for="annoRateo" class="col-form-label">Anno:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderYear;  else elseAnnoCaricato"></sigas-spinner-form>
                   <ng-template #elseAnnoCaricato>
                     <div class="col-lg-2">
                          <select class="form-control" id="annoRateo" 
                                  aria-labelledby="lblAnnoRifRateo" 
                                  [(ngModel)]="annoSelected"
                                  name="annoRateo" required 
                                  (change)="changeFilter()"  
                                  [disabled]="filterDisabled" >
                              <option *ngFor="let anno of anniVersamentiPerRicerca" [value]="anno">{{anno}}</option>
                          </select>
                      </div>
                  </ng-template>
                  <!--Provincia-->
                  <label id="lblProvinceRateo" for="provinceRateo" class="col-form-label">Prov:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderProvince;  else elseProvince"></sigas-spinner-form>
                  <ng-template #elseProvince>
                    <div class="col-lg-2">
                        <select class="form-control" 
                                id="provinceRateo" 
                                aria-labelledby="lblProvinceRateo" 
                                [(ngModel)]="provinciaSelected" 
                                name="province" required                                 
                                (change)="changeFilter()" 
                                [disabled]="filterDisabled"> 
                            <option [ngValue]="tutteProvince"> Tutte </option>
                            <option [ngValue]="provincia" *ngFor="let provincia of provinciaList">{{provincia.sigla}}</option>
                        </select>
                    </div>
                  </ng-template>                                                                                        
              </div>              
          </div>
      </div>      
      <div class="form-group row">
          <div class="col-lg-12">
              <div class="form-group col-lg-12">
                  <div class="form-group col-lg-12">
                      <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>
                      <!--Tabella-->
                      <table id="elenco-ratei"  
                             class="display responsive table-striped"
                             [style.display]="!loaderDT ? '' : 'none' "                             
                             datatable 
                             [dtOptions]="dtOptions" 
                             [dtTrigger]="dtTrigger" 
                             width="100%"
                             *ngIf="rateoRowItemTableList.length > 0">

                          <!--Table head-->
                          <thead class="rateo-header">
                              <tr>
                                  <th class="align-left padding-right-15">Anno</th>
                                  <th class="align-left padding-right-15">Mese</th>
                                  <th class="align-left padding-right-15">Provincia</th>                                  
                                  <th class="align-left padding-right-15">Importo</th>                                  
                                  <th class="align-left padding-right-15">Azioni</th>
                              </tr>
                          </thead>

                          <!--Table body-->
                          <tbody>
                              <tr *ngFor="let el of rateoRowItemTableList; let i = index ">
                                  <!--annualita-->
                                  <td>{{ el.annualita }}</td>
                                  <!--mese-->
                                  <td>{{ el.mese }}</td>
                                  <!--provincia-->
                                  <td>{{ el.provincia }}</td>                                  
                                  <!--importo-->
                                  <td class="align-left padding-right-15" >                                    
                                    <input aria-label="Importo Rateo" 
                                       type="number" 
                                       class="valid input-form-w-60 form-control" 
                                       [(ngModel)]="el.importo"
                                       id="importoRateo">
                                   </td>                                                                    
                                  <td> 
                                    <img *ngIf="!checkRateoValue(el)" class="table-button-png cursor-pointer" alt="Per attivare l'operazione di aggiornamneto e/o inserimento è necessario indicare un valore di rateo" title="salva rateo disabilitato. Indicare un valore di rateo" src="assets/save-disable.png">
                                    <img *ngIf="checkRateoValue(el)" class="table-button-png cursor-pointer" alt="Salva rateo" title="salva rateo" src="assets/save.png" (click)="salvaRateo(el)">                                   
                                    <img *ngIf="el.idRateo != null && el.idRateo!=undefined" class="table-button-png cursor-pointer" alt="Cancella rateo" title="Cancella rateo" src="assets/trash_blu.png" (click)="visualizzaDialogBoxConfernmaCancellazione(el)">
                                    <img *ngIf="el.idRateo == null || el.idRateo==undefined" class="table-button-png cursor-pointer" alt="Rateo non cancellabile" title="Rateo non cancellabile" src="assets/trash_nera.png">                                    
                                  </td> 
                              </tr>
                          </tbody>
                      </table>                        
                     
                  </div>
              </div>
          </div>
          
      </div>
      <!--tabella-->      
    </div>
</div><!-- DIALOG BOX -->
<div class="modal fade" id="dialogBoxRateo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Carrello -->
            <div class="modal-header">
                <h4 class="modal-title">Gestione Ratei</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <span>L'operazione prevede la cancellazione del rateo selezionato. Si desidera continuare?</span>
                </p>
            </div>
            <!-- Buttons -->
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="annullaCancellaRateo()">No</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancellaRateo()">S&igrave;</button>                
            </div>
            <!-- end Buttons -->
        </div>
    </div>
</div>
<!--FINE DIALOG BOX -->