//Import di sistema
@import '../../../../color.scss';

//Sezione dispositiva
.colsx {
  margin-top: 100px;
  margin-right: 10px;
}

/* Gestione classi Header */
.h1-font {
  font-size: 1.1em; /* 40px/16=2.5em */
}
/**************************/


