<div style="margin: 80px">
    <sigas-spinner *ngIf="!loaderSuccess"></sigas-spinner>
    <div *ngIf="loaderSuccess" class="panel panel panel-success center-all">
        <div class="panel-body">
            <img src="assets/success.png">
        </div>
        <div>
            <h3>Avviso di pagamento generato con successo 
            <button type="button" (click)="stampaAvviso()" class="btn btn-primary">
                <i class="fa fa-angle-left glyphicon glyphicon-ok"></i> Scarica pdf</button>
             </h3>
        </div>
    </div>
</div>