<div style="margin: 80px" role="dialog">
    <sigas-spinner *ngIf="!loaderSuccess"></sigas-spinner>
    <div *ngIf="loaderSuccess" class="panel panel panel-success center-all">
        <!-- Immagine -->
        <div class="panel-body">
            <img alt="" src="assets/success.png">
        </div>
        <div>
            <!-- Messaggio -->
            <span class="h-font">Avviso di pagamento generato con successo 
            <!-- Pulsante -->    
            <button type="button" (click)="stampaAvviso()" class="btn btn-primary">
                <i class="fa fa-angle-left glyphicon glyphicon-ok"></i> Scarica pdf</button>
            </span>
        </div>
    </div>
</div>