//Sezione dispositiva
//-----------------------------

//Sezione Table
.table-90 {
    width: 90%; 
    margin: auto;
}
//-------------

.scroll_table {
    overflow-x: auto;
}
//-------------
.boldRed {
    font-weight: 700;
    color: rgb(200, 5, 5);
}
//-------------
.left-fixed {
    float: left;
}
//-------------
.right-fixed {
    float: right;
}
//-------------
.last-row {
    background-color: white;
    font-weight: 700;
    border-top: 1px solid #111111 !important;
}
//-------------
table.dataTable.no-footer {
    border-bottom: 0;
}
//-----------------------------

//Sezione switch
.switch-small {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin-left: 20px;
  margin-top: 7px;
}
//-----------------------

//Sezione slider
.slider-small {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: #686868;  
  transition: .4s;
  font-size: 12px;
}
//-------------
.slider-small:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}
//------------------

//Sezione input
input:checked + .slider-small {
  background-color: #2196F3;
}
//-------------
input:focus + .slider-small {
  box-shadow: 0 0 1px #2196F3;
}
//-------------
input:checked + .slider-small:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
// ------------------

//Sezione switch
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin-left: 20px;
  margin-top: 7px;    
}
//-------------
.switch input, .switch-small input { 
  opacity: 0;
  width: 0;
  height: 0;
}
// ------------------


// Sezione slider
.slider {
  position: absolute;
  cursor: pointer;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 6px;
  background-color: #686868;
  -webkit-transition: .4s;
  transition: .4s;
}
//-------------
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
// ---------------------

//Sezione input checked
input:checked + .slider {
  background-color: #2196F3;
}
//-------------
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
//-------------
input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
// --------------------

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
//-------------
.slider.round:before {
  border-radius: 50%;
}
//-------------
.slider-small.round {
  border-radius: 34px;
}
//-------------
.slider-small.round:before {
  border-radius: 50%;
}
// --------------------

//Sezione switc on - off
.switch-on {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 7px;
  left: 10px;
}
//-------------
.switch-on-small {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 10px;
}
//-------------
.switch-off {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 7px;
  left: 34px;  
}
//-------------
.switch-off-small {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 30px;
}
// ------------

// Sezione Label
label {
  padding-top: 2px;
}
// ----------------

//Sezione note
.note {
    padding-top: 18px;
}
//-------------
.note-textarea {
  width: 90%;
  margin-top: 12px;
  margin-left: 10px;
  resize: none;
}
// ---------------

//-------------
.validazione {
  padding-top: 12px;
}
//-------------
.formfield * {
  vertical-align: top;
}
//-------------
.btn-consumi {
  width: 35%;
}
//-------------
#salva {
  width: 28%;
}
//-------------
.excel {
  color: #ffffff !important;
}
//-------------
.contains {
  width: 90%;
  margin: auto;
}
//-------------
#provTopDiv {
  margin-left: 3%;
  width: 94%;
}
//-------------
#provDiv {
  padding-left: 1%;
  margin-bottom: 1%;
  width: 45%;
}
//-------------
#provLabel {
  font-style: italic;
}
//-------------
#textProvLabel {
  font-weight: bold;
  margin-left: 8%;
}
//-------------
.form-width {
  width: 100%;
}
//-------------
.provLabelRow {
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 1%;
  margin-right: 3%;
  padding-left: 0;
  font-weight: unset;
}
//-------------
.note-textarea2 {
  width: 108%;
  margin-top: 1%;
  margin-left: 4%;
  resize: none;
  overflow-y: scroll;
}
//-------------
.rowModConsumi {
  display: block;
}
//-------------
#modDichConsumiTable {
  width: 100%;
  margin-left: -15px;
  border-collapse: collapse;
}

//Sezione tabella
.th-form {
  font-weight: unset;
  width: 19%;
  text-align: right;
  padding-right: 4%;
}
//-------------
.right-td {
  padding-right: 5px;
}
//-------------
.first-td {
  width: 26%;
  padding: 1.3%;
  padding-left: 2%;
}
//-------------------

.input-form {
  padding-right: 3%;
  text-align: right;
}
//-------------
.last-input-form {
  margin-left: 9%;
}
//-------------
.total-control {
  font-weight: bold;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}
//-------------
#cen-col {
  width: 10%;
  text-align: center;
  padding: 0;
}
//-------------
#right-col {
  width: 20%;
}
//-------------
.concilia {
  padding-right: 0px;
}
//-------------
.border-tr {
  width: 100%;
  margin-left: 0%;
}
//-------------
.last-border-tr {
  border-bottom: 2px solid darkgray;
}
//-------------
.last-border-tr-up {
  border-top: 2px solid darkgray !important;
}
//-------------
#concScartoLabel {
  margin-right: 3%;
  margin-left: 15%;
}
//-------------
.label-in-table {
  text-align: center;
}
//-------------
.last-row-label {
  margin-bottom: 0;
}
//-------------
.last-label {
  margin-bottom: 0;
  width: 63%;
  text-align: right;
}
//-------------
.valid {
  border-left: 5px solid #42A948;
}
//-------------
.invalid {
  border-left: 5px solid #a94442;
  background: white;
}
//-------------
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
//-------------
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
//-------------
.storico-title {
  padding-bottom: 25px;
  font-size: 1.5em;
}
//-------------
.no-border-top {
  border-top: 0px;
}
//-------------
.compensazione-header {
  //line-height: 0;
  white-space: normal;
  //border-top-width: 2px;
}
//-------------
.compensazione-align-middle {
  padding-top: 20px;
  text-align: center;
}

.compensazione-align-left {
  padding-top: 20px;
  text-align: left;
}

.compensazione-align-right {
  padding-top: 20px;
  text-align: right;  
}
//-------------
.align-center {
  text-align: center;
  white-space: normal;
}
//-------------
.align-right {
  text-align: right;
}
//-------------

//---------------------------
//Aumento contrasto
.btn-excel {
  background-color: #1e7e34;
  border-color: #1e7e34;
}
//---------------------------

//Gestione modal
.modal-lg {
  max-width: 80%;
}

.inlinea {
  display:inline;
}

.table-buttons-custom {
  width:35px; 
  height:35px;
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

//Gestione span credito compensato
.comp-font {
  font-size: 1em; /* 40px/16=2.5em */
  color: red;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

/*
.overflow-hidden {
  overflow: hidden;  
}
*/

.overflow-hidden::-webkit-scrollbar {
  display: none;
}

.dt-center {
  text-align: center;  
}

.padding-right-15 {
  padding-right: 15px;
}
