<div *ngIf="!modificaConsumi">
    <div class="principal-div">
        <sigas-spinner *ngIf="loaderPage"></sigas-spinner>
        <div class="table-90" *ngIf="!loaderPage">
            <div class="form-group col-lg-12 text-center">
                <h2 class="title">Dettagli Dichiarazione Consumi</h2>
            </div>
            <div class="col-12 form-group">
                <div class="left-fixed">
                    <table class="display nowrap row-border hover" [style.display]="!loaderDT ? '' : 'none' "
                        id="elenco-comsumi-pr" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Provincia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of consumiPr; let last = last;" [ngClass]="{'pointer' : !last}"
                            (click)="!last && modificaDichConsumi(el)">
                                <td class="dt-left" [ngClass]="{'last-row ' : last}">
                                    {{ getProvincia(el.provincia_erogazione) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="right-fixed">
                    <table class="display nowrap row-border hover" [style.display]="!loaderDT ? '' : 'none' "
                        id="elenco-comsumi-pr" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Tot.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of consumiPr; let last = last; let idx = index" [ngClass]="{'pointer' : !last}"
                            (click)="!last && modificaDichConsumi(el)">
                                <td class="dt-right" [ngClass]="{'boldRed':  el.totaleCalcolato < 0, 'last-row' : last}">
                                    {{ el.totaleCalcolato | currency:'EUR':'symbol' }}</td>
                                <td [ngClass]="{'last-row ' : last}">
                                    <div class="btn-group" *ngIf="!last">
                                        <div *ngIf="isModificato[idx]" style="width:23px;height:20px;padding: 2px 0px 0px 4px;" 
                                            class="card bg-success text-white margin-icon">
                                            <i class="fas fa-edit"></i>
                                        </div>
                                    </div>
                                    <div class="btn-group" *ngIf="!last">
                                        <div *ngIf="el.scarti">
                                            <div *ngIf="!el.concilia"
                                                style="width:23px;height: 20px;padding: 2px 0px 0px 4px;"
                                                class="card bg-warning margin-icon">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                            <div *ngIf="el.concilia"
                                                style="width:23px;height: 20px;padding: 2px 0px 0px 4px;"
                                                class="card bg-secondary margin-icon">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="scroll_table">
                        <table class="display nowrap row-border hover" [style.display]="!loaderDT ? '' : 'none' "
                            id="elenco-comsumi-pr" datatable [dtOptions]="dtOptions" 
                            width="2500px">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <!-- <th>Stato</th> -->
                                    <th>Ind. 1200</th>
                                    <th>Ind. > 1200</th>
                                    <th>Tot Ind.</th>
                                    <th>Civ. 120</th>
                                    <th>Civ. 480</th>
                                    <th>Civ. 1560</th>
                                    <th>Civ. > 1560</th>
                                    <th>Tot Civ.</th>
                                    <th>Tot nuovi allac.</th>
                                    <th>Conguaglio Dich.</th>
                                    <th>Conguaglio Calc.</th>
                                    <th>Rett.</th>
                                    <th>Arr.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let el of consumiPr; let last = last;" [ngClass]="{'pointer' : !last}"
                                    (click)="!last && modificaDichConsumi(el)">
                                    <td class="dt-center" [ngClass]="{'last-row ' : last}">{{ el.data_presentazione }}
                                    </td>
                                    <!-- <td class="dt-center" [ngClass]="{'last-row ' : last}">{{ el.stato_dich }}</td> -->
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_industriali_1200 < 0 , 'last-row ' : last}">
                                        {{ el.usi_industriali_1200 }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_industriali_up < 0, 'last-row ' : last}">
                                        {{ el.usi_industriali_up }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.tot_industriali < 0, 'last-row ' : last}">
                                        {{ el.tot_industriali | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_civili_120 < 0, 'last-row ' : last}">
                                        {{ el.usi_civili_120 }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_civili_480 < 0, 'last-row ' : last}">
                                        {{ el.usi_civili_480 }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_civili_1560 < 0, 'last-row ' : last}">
                                        {{ el.usi_civili_1560 }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.usi_civili_up < 0, 'last-row ' : last}">
                                        {{ el.usi_civili_up }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.tot_civili < 0, 'last-row ' : last}">
                                        {{ el.tot_civili | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.tot_nuovi_allacciamenti < 0, 'last-row ' : last}">
                                        {{ el.tot_nuovi_allacciamenti | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.conguaglio_dich < 0, 'last-row ' : last}">
                                        {{ el.conguaglio_dich | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.conguaglio_calc < 0, 'last-row ' : last}">
                                        {{ el.conguaglio_calc | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.rettifiche < 0, 'last-row ' : last}">
                                        {{ el.rettifiche | currency:'EUR':'symbol' }}</td>
                                    <td class="dt-right"
                                        [ngClass]="{'boldRed':  el.arrotondamenti < 0, 'last-row ' : last}">
                                        {{ el.arrotondamenti | currency:'EUR':'symbol' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-3 validazione">
                        <label class="col-form-label">Validazione:</label>
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="validazione" (click)="valida()" [disabled] = "this.consumiPr == null">
                            <span class="slider round">
                                <span *ngIf="validazione" class="switch-on">ON</span>
                                <span *ngIf="!validazione" class="switch-off">OFF</span>
                            </span>
                        </label>
                    </div>
                    <!-- <div class="col-9 formfield">
                        <label class="col-form-label note">Note:</label>
                        <textarea class="note-textarea" [(ngModel)]='note' rows="4">
                    </textarea>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example" data-example-id="single-button-dropdown">
        <div class="form-group row col-lg-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    
                <div class="btn-group btn-consumi">
                    <a class="btn btn-default pointer margin-icon" (click)="goBack()" role="button">
                        <i class="fa fa-angle-left"></i>
                        indietro</a>
                    <button *ngIf="!modificaConsumi && !loaderExcel" class="btn btn-success pointer excel margin-icon" (click)="goExcel()"
                        role="button" [disabled] = "this.consumiPr == null">
                        <i class="far fa-file-excel"></i>
                        Scarica in Excel</button>
                    <a *ngIf="!modificaConsumi && loaderExcel" class="btn btn-success pointer excel margin-icon">
                        <sigas-spinner-form [diameter]="20"></sigas-spinner-form>
                    </a>

                    <div id="salva" *ngIf="modificaConsumi" class="btn-group">
                        <button type="button" class="btn btn-primary margin-icon" (click)="salvaDichConsumi()">
                            <i class="fas fa-edit"></i> Salva</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modificaConsumi">
    <div class="principal-div">
        <sigas-spinner *ngIf="loaderPage"></sigas-spinner>
        <div class="contains" *ngIf="!loaderPage">
            <div class="col-lg-12 hight">
                <div class="form-group row">
                    <div class="form-group col-lg-12 text-center">
                        <h2 class="title">Modifica Dichiarazione Consumi</h2>
                    </div>
                </div>
            </div>
            <div id="provTopDiv" class="col-lg-12 rowModConsumi">
                <div>
                    <div id="provDiv" class="form-width border-top row">
                        <label id="provLabel" class="offset-lg-1 provLabelRow">Provincia:</label>
                        <label id="textProvLabel" class="provLabelRow">{{ getProvincia(consumi.provincia_erogazione) }}</label>
                    </div>
                    <div class="form-width border-top row">
                        <label class="offset-lg-1 col-form-label provLabelRow">Note:</label>
                        <div class="col-lg-10 col-value">
                            <textarea class="note-textarea2" rows="3" [(ngModel)]='consumi.note'></textarea>
                        </div>
                    </div>
                </div>
                <table id="modDichConsumiTable" [style.display]="!loaderDT ? '' : 'none' " >
                    <thead>
                        <tr>
                            <th></th>
                            <th class="th-form">consumi</th>
                            <th class="th-form" id="cen-col">aliquota</th>
                            <th class="th-form" id="right-col">importi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Usi industriali fino a 1200 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiIndusFino" placeholder="consumi" [(ngModel)]="consumi.usi_industriali_1200"
                                    #consumiIndusFino="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteIndusFino" value="{{ getAliquota(5) }}" readonly>  
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importiIndusFino" value="{{ consumi.usi_industriali_1200 * getAliquota(5) | currency:'EUR':'symbol' }}"
                                    readonly>
                            </td>
                            <td class="right-td total-control">Totale Usi Industriali</td>
                        </tr>
                        <tr class="last-border-tr border-top border-tr">
                            <td class="td-group first-td">Usi industriali oltre i 1200 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiIndusOltre" placeholder="consumi" [(ngModel)]="consumi.usi_industriali_up"
                                    #consumiIndusOltre="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteIndusOltre" value="{{ getAliquota(6) }}" readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control"
                                    id="importiIndusOltre" value="{{ consumi.usi_industriali_up * getAliquota(6) | currency:'EUR':'symbol' }}"
                                    readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid last-input-form input-form form-control col-lg-11"
                                    id="totaleUsiIndus" value="{{ consumi.usi_industriali_1200 * getAliquota(5) + 
                                                                  consumi.usi_industriali_up * getAliquota(6) | currency:'EUR':'symbol'}}"
                                    readonly>
                            </td>
                        </tr>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Usi civili fino a 120 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiCiviliFino120" placeholder="consumi" [(ngModel)]="consumi.usi_civili_120"
                                    #consumiCiviliFino120="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteCiviliFino120" value="{{ getAliquota(1) }}"
                                    readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importiCiviliFino120" value="{{ consumi.usi_civili_120 * getAliquota(1) | currency:'EUR':'symbol' }}"
                                    readonly>
                            </td>
                            <td class="right-td total-control"></td>
                        </tr>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Usi civili fino a 480 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiCiviliFino480" placeholder="consumi" [(ngModel)]="consumi.usi_civili_480"
                                    #consumiCiviliFino480="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteCiviliFino480" value="{{ getAliquota(2) }}"
                                    readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importiCiviliFino480" value="{{ consumi.usi_civili_480 * getAliquota(2) | currency:'EUR':'symbol' }}"
                                    readonly>
                            </td>
                            <td class="right-td total-control"></td>
                        </tr>                        
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Usi civili fino a 1560 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiCiviliFino1560" placeholder="consumi" [(ngModel)]="consumi.usi_civili_1560"
                                    #consumiCiviliFino1560="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteCiviliFino1560" value="{{ getAliquota(3) }}"
                                    readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importiCiviliFino1560" 
                                    value="{{ consumi.usi_civili_1560 * getAliquota(3) | currency:'EUR':'symbol' }}" readonly>
                            </td>
                            <td class="right-td total-control"></td>
                        </tr>                        
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Usi civili oltre i 1560 Mc</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="consumiCiviliOltre" placeholder="consumi" [(ngModel)]="consumi.usi_civili_up"
                                    #consumiCiviliOltre="ngModel">
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquoteCiviliOltre" value="{{ getAliquota(4) }}"
                                    readonly>
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importiCiviliOltre" value="{{ consumi.usi_civili_up * getAliquota(4) | currency:'EUR':'symbol' }}" 
                                    readonly>
                            </td>
                            <td class="right-td total-control">Totale Usi Civili</td>
                        </tr>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">Nuovi allacciamenti</td>
                            <td class="right-td"></td>
                            <td class="right-td">
                                <button type="button" class="btn btn-warning margin-icon"  data-toggle="modal" data-target="#dettaglioNuoviAllacciamenti">Dettaglio</button>
                            </td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="allacciamenti" placeholder="importi" [(ngModel)]="consumi.tot_nuovi_allacciamenti"
                                    #allacciamenti="ngModel">
                            </td>
                            <td class="right-td">
                                    <input type="text" class="invalid last-input-form input-form form-control col-lg-11"
                                    id="totCivili" placeholder="totale usi civili" value="{{ 
                                        consumi.usi_civili_120 * getAliquota(1) +
                                        consumi.usi_civili_480 * getAliquota(2) +
                                        consumi.usi_civili_1560 * getAliquota(3) +
                                        consumi.usi_civili_up * getAliquota(4) +
                                        consumi.tot_nuovi_allacciamenti| currency:'EUR':'symbol' }}"
                                    readonly>
                            </td>
                        </tr>
                        <tr class="border-top border-tr" *ngFor="let el of listaScarti; let idx = index">
                            <td class="td-group first-td">Scarto</td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="scartoCons" placeholder="consumi" [(ngModel)]="el.consumi"
                                    #scartoCons="ngModel" [readonly]="el.conciliato">
                            </td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="scartoAliq" placeholder="aliquota" [(ngModel)]="el.aliquota"
                                    #scartoAliq="ngModel" [readonly]="el.conciliato" >
                            </td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="scartoImpor" value="{{ el.consumi * el.aliquota | currency:'EUR':'symbol'}}"
                                    readonly>
                            </td>
                            <td class="right-td concilia">
                                <label class="switch-small margin-icon">
                                    <input type="checkbox"  [(ngModel)]="el.conciliato" (click)="conciliaScarto(el, idx)">
                                    <span class="slider-small round">
                                        <span *ngIf="el.conciliato" class="switch-on-small">ON</span>
                                        <span *ngIf="!el.conciliato" class="switch-off-small">OFF</span>
                                    </span>
                                </label>
                                <label>concilia scarto</label>
                            </td>
                        </tr>
                        <tr class="last-border-tr-up border-top border-tr">
                            <td class="td-group first-td">Rettifiche</td>
                            <td class="right-td"></td>
                            <td class="right-td"></td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="rettifiche" placeholder="importi" [(ngModel)]="consumi.rettifiche"
                                    #rettifiche="ngModel">
                            </td>
                            <td class="right-td total-control"></td>
                        </tr>
                        <tr class="last-border-tr border-top border-tr">
                            <td class="td-group first-td">Arrotondamenti</td>
                            <td class="right-td"></td>
                            <td class="right-td"></td>
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="arrotondamenti" placeholder="importi" [(ngModel)]="consumi.arrotondamenti"
                                    #arrotondamenti="ngModel">
                            </td>
                            <td class="right-td"></td>
                        </tr>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td"></td>
                            <td class="right-td"></td>
                            <td class="right-td label-in-table">Totale</td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="totale" placeholder="totale importi"
                                    value="{{ consumi.usi_civili_120 * getAliquota(1) +
                                                consumi.usi_civili_480 * getAliquota(2) +
                                                consumi.usi_civili_1560 * getAliquota(3) +
                                                consumi.usi_civili_up * getAliquota(4) + 
                                                consumi.usi_industriali_1200 * getAliquota(5) + 
                                                consumi.usi_industriali_up * getAliquota(6) +
                                                consumi.arrotondamenti + consumi.rettifiche +
                                                consumi.tot_nuovi_allacciamenti + sommaScarti
                                                | currency:'EUR':'symbol'}}"
                                    readonly>
                            </td>
                            <td class="right-td total-control"></td>
                        </tr>
                        <tr class="border-top border-tr">
                            <td class="td-group first-td">
                                <label class="last-row-label">Conguaglio dichiarato</label>
                            </td>
                            <!-- <td class="right-td">dichiarato</td> -->
                            <td class="right-td">
                                <input type="number" class="valid input-form form-control col-lg-12"
                                    id="conguaglioDich" placeholder="dichiarato" [(ngModel)]="consumi.conguaglio_dich"
                                    #conguaglioDich="ngModel">
                            </td>
                            <td class="right-td label-in-table">calcolato</td>
                            <td class="right-td">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="conguaglioCalc" placeholder="calcolato" 
                                    value="{{ consumi.conguaglio_calc+consumi.usi_civili_120 * getAliquota(1) +
                                                consumi.usi_civili_480 * getAliquota(2) +
                                                consumi.usi_civili_1560 * getAliquota(3) +
                                                consumi.usi_civili_up * getAliquota(4) + 
                                                consumi.usi_industriali_1200 * getAliquota(5) + 
                                                consumi.usi_industriali_up * getAliquota(6) +
                                                consumi.arrotondamenti + consumi.rettifiche +
                                                consumi.tot_nuovi_allacciamenti + sommaScarti - consumi.totaleCalcolato
                                                | currency:'EUR':'symbol'}}"
                                    readonly>
                            </td>
                            <td class="right-td col-lg-11">
                                <button type="button" class="btn btn-warning col-lg-12" data-toggle="modal" data-target="#compensazione">
                                    Compensazione crediti
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bs-example" data-example-id="single-button-dropdown">
        <div class="form-group row col-lg-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    
                <div class="btn-group btn-consumi">
                    <a class="btn btn-default pointer margin-icon" (click)="goBackModifica()" role="button">
                        <i class="fa fa-angle-left"></i>
                        indietro</a>
                    <a *ngIf="!modificaConsumi" class="btn btn-success pointer excel margin-icon" (click)="goExcel()"
                        role="button">
                        <i class="far fa-file-excel"></i>
                        Scarica in Excel</a>
                    <div id="salva" *ngIf="modificaConsumi" class="btn-group">
                        <button type="button" class="btn btn-primary margin-icon" (click)="salvaDichConsumi()">
                            <i class="fas fa-edit"></i> Salva</button>
                    </div>
                    <div *ngIf="modificaConsumi" class="btn-group">
                        <button type="button" class="btn btn-warning margin-icon" data-toggle="modal" data-target="#storicoMdifiche" (click)="storicoModifiche(consumi.id_consumi)">
                            <i class="fas fa-history"></i> Storico modifiche</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Storico -->
<div class="modal fade" id="storicoMdifiche" tabindex="-1" role="dialog" aria-labelledby="storicoMdifiche" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storicoModificheTitle"><b>Storico Modifiche Dichiarazioni</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <sigas-spinner *ngIf="loaderPageStorico"></sigas-spinner>
            <div *ngIf="!loaderPageStorico" class="modal-body">
                <h5 class="form-group row storico-title col-lg-12">{{this.anagraficaSoggettiService.headerDichiarante!= undefined ? anagraficaSoggettiService.headerDichiarante.denominazione: ""}} - ANNO {{this.anno}} - Provincia {{consumi != undefined ? consumi.provincia_erogazione:""}}</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="10%" class="no-border-top" scope="col">n.</th>
                            <th width="30%" class="no-border-top" scope="col">utente</th>
                            <th width="10%" class="no-border-top" scope="col">data</th>
                            <th width="40%" class="no-border-top" scope="col">note</th>
                            <th width="10%" class="no-border-top" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="storicoModificheList!=null && storicoModificheList.length != 0; else noData">
                        <tr *ngFor="let el of storicoModificheList;let idx = index;">
                            <th scope="row">{{ idx + 1 }}</th>
                            <td>{{el.modUser}}</td>
                            <td>{{el.modDate | date : 'dd/MM/yyyy'}}</td>
                            <td>{{el.note}}</td>
                            <td>
                                <button type="button" class="btn btn-warning margin-icon" 
                                    data-toggle="modal" data-target="#storicoMdifiche" (click) = "ripristinModifica(el.idConsumi)">
                                    Ripristina
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noData>
                    <tbody >
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                    Nessuna modifica trovata
                                </td>
                            </tr>
                    </tbody>
                    </ng-template>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal vuovi allacciamenti -->
<div class="modal fade" id="dettaglioNuoviAllacciamenti" tabindex="-1" role="dialog" aria-labelledby="nuoviAllacciamenti" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storicoModificheTitle"><b>Dettagli nuovi allacciamenti</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <sigas-spinner *ngIf="loaderPageStorico"></sigas-spinner>
            <div *ngIf="!loaderPageStorico" class="modal-body">
                <table class="table table-striped" style="margin-top: 40px;">
                    <thead>
                        <tr style="line-height: 0.7">
                            <th width="20%" scope="col">Consumi</th>
                            <th width="20%" scope="col">Aliquota</th>
                            <th width="20%" scope="col">Importo</th>
                            <th width="40%" scope="col">Descrizione</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="consumi!= null && consumi.nuoviAllacciamenti!=null && consumi.nuoviAllacciamenti.length != 0; else noDataNuoviAllacciamenti">
                        <tr *ngFor="let el of consumi.nuoviAllacciamenti; let last = last;">
                            <td *ngIf="!last">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="consumo" value="{{el.consumo}}" readonly>
                            </td>
                            <td *ngIf="!last">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="aliquota" value="{{el.aliquota}}" readonly>
                            </td>
                            <td colspan="2" style="text-align: right;" *ngIf="last"><b>Totale nuovi allacciamenti</b></td>
                            <td>
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                    id="importo" value="{{el.importo | currency:'EUR':'symbol'}}" readonly>
                            </td>
                            <td>{{el.descrizione}}</td>
                        </tr>
                    </tbody>
                    <ng-template #noDataNuoviAllacciamenti>
                    <tbody >
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                    Nessun nuovo allacciamento trovato
                                </td>
                            </tr>
                    </tbody>
                    </ng-template>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal compenasione -->
<div class="modal fade" id="compensazione" tabindex="-1" role="dialog" aria-labelledby="compensazione" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compensazioneTitle"><b>Compensazione Crediti/Debiti</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <sigas-alert [message]="'Selezionare il Soggetto per consultare i dettagli dei consumi e degli allarmi'" [type]="'INFO'"></sigas-alert>
            <sigas-spinner *ngIf="loaderPageCompensazione"></sigas-spinner>
            <div *ngIf="!loaderPageCompensazione" class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr class="compensazione-header">
                            <th width="20%" scope="col">Provincia</th>
                            <th width="20%" class="align-center" scope="col">Credito/Debito</th>
                            <th width="25%" class="align-center" scope="col">Compensazione</th>
                            <th width="25%" class="align-center" scope="col">Risultato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of consumiPr; let last = last;">
                            <td class="compensazione-align-middle" *ngIf= "!last" >{{ getProvincia(el.provincia_erogazione) }}</td>
                            <td class="compensazione-align-middle align-right" [ngClass]="{'boldRed':  el.conguaglio_dich < 0}" *ngIf= "!last">{{ el.conguaglio_dich | currency:'EUR':'symbol' }}</td>
                            <td class="align-center" *ngIf= "!last">
                                <input type="number" class="valid input-form form-control col-lg-12" [(ngModel)]="el.compensazione"
                                id="conguaglioCalc">
                            </td>
                            <td class="align-center" *ngIf= "!last">
                                <input type="text" class="invalid input-form form-control col-lg-12"
                                id="conguaglioCalc" value="{{ el.conguaglio_dich + el.compensazione | currency:'EUR':'symbol'}}"
                                readonly>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noData>
                    <tbody >
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                    Nessuna modifica trovata
                                </td>
                            </tr>
                    </tbody>
                    </ng-template>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>