img {
    width: 15%;
    display: block;
    margin:0 auto;
}

h3 {
font-family: verdana, arial, sans-serif;
font-size: 20px;
font-style: italic;
font-weight: bold;
text-align: center;
color: #96b632
}
