<div style="margin: 80px" role="dialog">
    <!-- <sigas-spinner *ngIf="showSpinner"></sigas-spinner> -->
    <sigas-alert *ngIf="showErrorMessage" [message]="showErrorMessage" [type]="'DANGER'"></sigas-alert>

    <div *ngIf="paymentSuccess" class="panel panel panel-success center-all">
        <div class="panel-body">
            <!-- Immagine -->
            <img alt="" src="assets/success.png">
        </div>
        <div>
            <!-- Messaggio pagamento con successo -->
            <span class="h-font">Il pagamento è stato completato con successo. Verificare la mail {{mail}} per visualizzare i dettagli della transazione.</span>            
        </div>
    </div>
    <div *ngIf="!paymentSuccess" class="panel panel panel-success center-all">
        <div class="panel-body">
            <!-- Immagine -->
            <img alt="" src="assets/error.png">
        </div>
        <div>
            <!-- Messaggio pagamento fallito -->
            <span class="h-font">Il pagamento non è stato completato con successo.</span>
        </div>
    </div>
</div>