
<div class="principal-div">
    <div class="card card-primary center-default">
        <div class="card-header text-white">
            <strong>Dettagli pagamento</strong>
        </div>
        <div>
            <div class="card-body container">
                <div class="subjectLabel">
                    SOGGETTO
                </div>
                <div class="row">
                        <div class="col-lg-12">
                        <div class="panel-body">
                            <table *ngIf="subject" class="table table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th><b>Denominazione azienda</b></th>
                                        <th><b>Codice Azienda</b></th>
                                        <th><b>Provincia</b></th>
                                        <th><b>Comune</b></th>
                                        <!--<th><b>Cap</b></th>-->
                                        <th><b>Indirizzo</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ subject.nomeAzienda }}</td>
                                        <td>{{ subject.codiceAzienda }}</td>
                                        <td>{{ subject.siglaProvinciaAzienda }}</td>
                                        <td>{{ subject.comune }}</td>
                                        <!--<td>{{ subject.cap }}</td>-->
                                        <td>{{ subject.indirizzo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--
                <div class="card-body container">
                    <div class="row">
                            <div class="col-lg-12">
                            <div class="panel-body">
                                <table width="50%">
                                    <tbody>
                                        <tr>
                                            <td class="detailCell">Totale dichiarazione:</td>
                                            <td class="detailCell">{{ amountDetail.totalToPay | currency:'EUR':'symbol' }}</td>
                                        </tr>
                                        <tr>
                                            <td class="detailCell">Addizionale liquidata:</td>
                                            <td class="detailCell">{{ amountDetail.adjustment | currency:'EUR':'symbol' }}</td>
                                        </tr>
                                        <tr>
                                            <td class="detailCell">totale versato:</td>
                                            <td class="detailCell">{{ getTotalAmount() | currency:'EUR':'symbol' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                -->
    
                <!-- PAYMENT LIST -->
                <div class="payDiv">
                    <div class="payLabel">
                        ELENCO PAGAMENTI
                    </div>
                    <div class="card-body" *ngIf="foPayService.cartList">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped" width="100%">
                                        <thead>
                                            <tr>
                                                <th><b>Codice</b></th>
                                                <th><b>Stato</b></th>
                                                <th><b>Mese</b></th>
                                                <th><b>Provincia</b></th>
                                                <th><b>Importo</b></th>
                                                <th><b>Tipo</b></th>
                                                <th><b>Note</b></th>
                                                <th><b>Data pagamento</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class ="pointer" *ngFor="let cartItem of foPayService.cartList | keyvalue">
                                                <td>{{ cartItem.value.paymentCode }}</td>
                                                <td>{{ getStatus(cartItem.value.status) }}</td>
                                                <td>{{ cartItem.value.monthString() }}</td>
                                                <td>{{ cartItem.value.area }}</td>
                                                <td>{{ getAmount(cartItem.value.amount) | currency:'EUR':'symbol'}}</td>
                                                <td>{{ 'Rateo' || cartItem.value.typeOfAmount }}</td>
                                                <td></td>
                                                <td>{{ cartItem.value.payDate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="totalLabel">
                        Totale: <b>{{getTotalAmount() | currency:'EUR':'symbol'}}</b>
                    </div>
                </div>

                <!--pulsanti-->
                <div class="bs-example" data-example-id="single-button-dropdown">
                    <div class="form-group row col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                            <div class="btn-group">
                                <a class="btn btn-default" (click)="goBack()" role="button">
                                    <i class="fa fa-angle-left glyphicon glyphicon-chevron-left"></i>
                                    indietro</a>
                            </div>
                            &nbsp;
                            <div class="btn-group">
                                <button type="button" class="btn btn-success" (click)="downloadExcelCart()">
                                    <i class="fa fa-file-excel"></i> Scarica in excel</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!--pulsanti-->
            </div>
        </div>
    </div>
</div>
