<div [ngStyle]="{'display': !updateVersamento && !nuovoVersamento ? 'block' : 'none'}">
    <div class="card-body container">
      <!--testata-->
      <div class="form-group col-lg-12 text-center">
        <h3 class="title">Gestione Versamenti</h3>
      </div>
      <sigas-alert [message]="messageSuccessModRateo" *ngIf="showSuccessModRateo" [type]="'SUCCESS'"></sigas-alert>
      <sigas-alert [message]="messageErrorModRateo" *ngIf="showMessageErrorModRateo" [type]="'DANGER'"></sigas-alert>
      <div class="form-group row padding-search">
          <div class="form-group col-lg-12">
              <div class="row">
                  <!--Anno-->
                  <label id="lblAnnoRifVersamenti" for="annoVersamenti" class="col-form-label">Anno di riferimento:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderYear;  else elseAnnoCaricato"></sigas-spinner-form>
                   <ng-template #elseAnnoCaricato>
                     <div class="col-lg-2">
                          <select class="form-control" id="annoVersamenti" 
                                  aria-labelledby="lblAnnoRifVersamenti" 
                                  [(ngModel)]="anno"
                                  name="annoVersamenti" required 
                                  (change)="changeFilter()"  
                                  [disabled]="filterDisabled" >
                              <option *ngFor="let anno of anniVersamentiPerRicerca" [value]="anno">{{anno}}</option>
                          </select>
                      </div>
                  </ng-template>

                  <!--Mese-->
                  <label id="lblMese" for="mese" class="col-form-label">Mese:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderMonth;  else elseMeseCaricato"></sigas-spinner-form>
                   <ng-template #elseMeseCaricato>
                     <div class="col-lg-2">
                          <select class="form-control" id="mese" aria-labelledby="lblMese" [(ngModel)]="mese" name="mese" required (change)="changeFilter()"  [disabled]="filterDisabled" >
                              <option *ngFor="let mese of mesiVersamenti" [value]="mese">{{mese}}</option>
                          </select>
                      </div>
                  </ng-template>

                  <!--Provincia-->
                  <label id="lblProvince" for="province" class="col-form-label">Prov:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderProvince;  else elseProvince"></sigas-spinner-form>
                  <ng-template #elseProvince>
                    <div class="col-lg-2">
                        <select class="form-control" id="province" aria-labelledby="lblProvince" [(ngModel)]="provinciaConsumo" name="province" required 
                           [compareWith]="compareFn" (change)="changeFilter()" [disabled]="filterDisabled"> 
                            <option [ngValue]="tutteProvince"> Tutte </option>
                            <option [ngValue]="provincia" *ngFor="let provincia of provinceModel">{{provincia.sigla}}</option>
                        </select>
                    </div>
                  </ng-template>

                  <!--Tipo versamento-->
                  <label id="lblTipoVersamento" for="tipoVersamento" class="col-form-label">Tipo:</label>
                  <sigas-spinner-form [diameter]="30" *ngIf="loaderTipoVersamenti;  else elseTipoVersamenti"></sigas-spinner-form>
                   <ng-template #elseTipoVersamenti>
                     <div class="col-lg-2">
                        <select class="form-control" id="tipoVersamento" aria-labelledby="lblTipoVersamento" [(ngModel)]="idTipoVersamento" name="tipoVersamento" required (change)="changeFilter()" [disabled]="filterDisabled">
                        <option [value]=0 > Tutti </option> 
                              <option *ngFor="let tipoVersamento of tipoVersamentiModel" [value]="tipoVersamento.idTipoVersamento">{{tipoVersamento.denominazione}}</option>
                        </select>
                      </div>
                  </ng-template>
              </div>
          </div>
      </div>
      
      <div class="col-12 form-group">
      <sigas-spinner-form [diameter]="30" *ngIf="loaderDatiRias"></sigas-spinner-form>      
            <div class="row" *ngIf="!loaderDatiRias">
                <div class="col-3 validazione" *ngIf="consumi != null && elencoVersamenti.length > 0">
                    <label class="col-form-label">Allarme:</label>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="allarmeVersamento" (click)="gestisciAllarme()" aria-label="Allarme versamento">
                        <span class="slider round">
                            <span *ngIf="allarmeVersamento" class="switch-on">ON</span>
                            <span *ngIf="!allarmeVersamento" class="switch-off">OFF</span>
                        </span>
                    </label>
                </div>
                 <div class="col-9 formfield">

                   <!--Rateo dichiarato-->  
                   <div class="form-group border-botton row">
                      <label class="col-lg-2 offset-lg-1 col-form-label">Rateo Dich:</label>
                      <div class="col-lg-2 col-value">
                          <div>
                             {{ consumi?.rateo_dich | currency:'EUR':'symbol'}}
                          </div>
                      </div>

                      <!--Conguaglio Dichiarato-->
                      <label class="col-lg-3 offset-lg-1 col-form-label">Conguaglio Dich:</label>
                      <div class="col-lg-2 col-value">
                          <div>
                              {{ consumi?.conguaglio_dich | currency:'EUR':'symbol'}}
                          </div>
                      </div>
                  </div>      
                  <div class="form-group border-botton row">
                      <label id="lblImportoRateoCalc" class="col-lg-2 offset-lg-1 col-form-label">Rateo calcolato:</label>
                      <!-- 
                      <div class="col-lg-2 col-value">
                          <div>
                              {{ (consumi?.totaleDich/12 === 0 ? '' : consumi?.totaleDich/12)| currency:'EUR':'symbol'}}
                          </div>
                      </div> -->
                      <div class="col-lg-2 col-value" >
                          <input type="number"  id="importoRateoCalc" aria-labelledby="lblImportoRateoCalc"  [disabled] = "!consumi"
                       		(change)="onChangeRateoCalc(rateo_calc)" [(ngModel)]="rateo_calc"
                              name="importoRateoCalc" #importoRateoCalc="ngModel" min="0" required>
                      </div>
                      <label class="col-lg-3 offset-lg-1 col-form-label">Conguaglio calcolato:</label>
                      <div class="col-lg-2 col-value">
                          <div>
                              <!-- Evolutiva 202107-01 -->
                              <!-- {{ consumi?.conguaglio_calc | currency:'EUR':'symbol'}} -->
                              <sigas-spinner-form [diameter]="30" *ngIf="loaderEvolutiva202107"></sigas-spinner-form>                              
                              <span *ngIf="!loaderEvolutiva202107">{{ selConguaglioCalcolato | currency:'EUR':'symbol' }}</span>
                              <br/>
                              <span class="comp-font" 
                                      id="idRicalcolatoPerCompensazioneSpan" 
                                      *ngIf="visualizzaSpanConguaglioCalcolato">Ricalcolato per compensazione
                              </span>
                          </div>
                      </div>
                  </div>                    
                      
                </div>
               
            </div>
      </div>
      <div class="form-group row">
          <div class="col-lg-12">
              <div class="form-group col-lg-12">
                  <div class="form-group col-lg-12">
                      <sigas-spinner-form [diameter]="30" *ngIf="loaderDT"></sigas-spinner-form>

                      <!--Tabella-->
                      <table [style.display]="!loaderDT ? '' : 'none' " id="elenco-versamenti"  class="row-border hover" 
                          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%">

                          <!--Table head-->
                          <thead>
                              <tr>
                                  <th>Anno</th>
                                  <th>Mese</th>
                                  <th>Provincia</th>
                                  <th>Tipo</th>
                                  <th>Importo Versato</th>
                                  <th>Importo Calcolato</th>
                                  <th>Differenza</th>
                                  <th>Note</th>
                                  <th>Modalità Pagamento</th>
                              </tr>
                          </thead>

                          <!--Table body-->
                          <tbody>
                              <tr class ="pointer" *ngFor="let el of elencoVersamentiFinal; let i = index " (click) = "editVersamento(el)">
                                  <!--annualita-->
                                  <td>{{ el.annualita }}</td>
                                  <!--mese-->
                                  <td>{{ el.mese }}</td>
                                  <!--provincia-->
                                  <td>{{ el.provincia }}</td>
                                  <!--denominazione-->
                                  <td>{{ el.tipo.denominazione }}</td>
                                  <!--importo-->
                                  <td>{{ el.importo | currency:'EUR':'symbol' }}</td>                                  
                                  <td *ngIf="el.tipo.denominazione != 'Accertamento'">{{ el.importo_prec | currency:'EUR':'symbol' }}</td>
                                  <td *ngIf="el.tipo.denominazione != 'Accertamento'" >{{ el.differenza | currency:'EUR':'symbol' }}</td>
                                  <td *ngIf="el.tipo.denominazione == 'Accertamento'"></td>
                                  <td *ngIf="el.tipo.denominazione == 'Accertamento'"></td>                                  
                                  <td> <textarea aria-label="Note" class="note-textareaview" rows="2" [(ngModel)]="el.note" readonly>
                                      </textarea></td>
                                  <td>
                                    <img *ngIf="!el.hasPagamentiVersamenti" style="width:23px; height:23px;" alt="versamento" title="versamento" src="assets/tipologia_versamento_1.png">
                                    <img *ngIf="el.hasPagamentiVersamenti" style="width:23px; height:23px;" alt="pagamento" title="pagamento" src="assets/tipologia_versamento_2.png">
                                  </td> 
                              </tr>
                          </tbody>
                      </table>

                        <!--Totale versato-->
						<div class="row" >
	                       <label class="col-lg-3 col-form-label"><b>Totale importo versato</b></label>
	                       <div class="col-lg-3" style="text-align:right">
	                       <b>{{versato | currency:'EUR':'symbol' }} </b>
                       </div>
                     </div>
                  </div>
              </div>
          </div>
          
      </div>
      <!--tabella-->
      <!--pulsanti-->
      <div class="bs-example" data-example-id="single-button-dropdown">
          <div class="form-group row col-lg-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  
                  <!--Nuovo-->
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary margin-icon" (click)="goInserimentoVersamento()">
                          <i class="fas fa-check"></i> Nuovo Versamento</button>
                  </div>

                  <!--Salva-->
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary margin-icon" (click)="salvaModificaRateo()"
                      [disabled] = "!consumi">
                          <i class="fas fa-check"></i> Salva</button>
                  </div>
                  <div class="btn-group">
                     <button type="button" *ngIf="!loaderExcel" class="btn btn-success btn-excel margin-icon pointer" (click)="goExcel()"
                              [disabled] = "this.elencoVersamentiFinal == null">
                                <i class="far fa-file-excel"></i> Scarica in Excel</button>
                           <button type="button" *ngIf="loaderExcel" class="btn btn-success btn-excel">
                                   <sigas-spinner-form [diameter]="20"></sigas-spinner-form>
                     </button>
                  </div>
                  <div class="btn-group" id="btnExcel"></div>
              </div>
          </div>
      </div>
      <!--pulsanti-->
    </div>
  </div>
  
  <sigas-alert [message]="messageSuccess" *ngIf="showSuccess" [type]="'SUCCESS'"></sigas-alert>
  <sigas-alert [message]="messageError" *ngIf="showMessageError" [type]="'DANGER'"></sigas-alert>
  <div *ngIf="updateVersamento || nuovoVersamento">
      <div class="principal-div" id="principal-div" name="principal-div">
      
                  <form #insNuovoVersamento="ngForm" (ngSubmit)="onSubmitSalva()">
                      <div class="contains">
                          <div class="col-lg-12 hight">
                              <div class="form-group row">
                                  <div class="form-group col-lg-12 text-center">
                                      <h2 *ngIf="updateVersamento" class="title h4-font">Modifica versamento</h2>
                                      <h2 *ngIf="nuovoVersamento" class="title h4-font">Nuovo versamento</h2>
                                  </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-lg-3 hight">
                                      <div class="form-group row">
                                          <label id="lblAnnoNuovoVersamento" for="annoNuovoVersamento" class="col-lg-6 col-form-label">Anno di riferimento:</label>
                                          <div class="col-lg-6 col-value">
                                             <div>
                                                 <select class="form-control" 
                                                         id="annoNuovoVersamento" 
                                                         aria-labelledby="lblAnnoNuovoVersamento" 
                                                         [(ngModel)]="versamentoToSave.annualita"                                                         
                                                         (change)="loadConsumoPerProvince()"                                                         
                                                         name="annoNuovoVersamento" required>
                                                      <!--<option *ngFor="let anno of listaAnni" [ngValue]="anno">{{anno}}</option>-->
                                                      <option *ngFor="let anno of anniVersamenti" 
                                                              [value]="anno">{{anno}}</option>
                                                 </select>
                                             </div> 
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3 hight">
                                      <div class="form-group row">
                                          <label id="lblMeseNuovoVersamento" for="meseNuovoVersamento" class="col-lg-6 col-form-label">
                                              Mese:</label>
                                          <div class="col-lg-6 col-value">
                                              <div>
                                              <select class="form-control" id="meseNuovoVersamento" aria-labelledby="lblMeseNuovoVersamento"
                                                      [(ngModel)]="versamentoToSave.mese"
                                                      name="mese"
                                                      required>
                                                      <option>Gennaio</option>
                                                      <option>Febbraio</option>
                                                      <option>Marzo</option>
                                                      <option>Aprile</option>
                                                      <option>Maggio</option>
                                                      <option>Giugno</option>
                                                      <option>Luglio</option>
                                                      <option>Agosto</option>
                                                      <option>Settembre</option>
                                                      <option>Ottobre</option>
                                                      <option>Novembre</option>
                                                      <option>Dicembre</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3 hight">
                                      <div class="form-group row">
                                          <label id="lblProvinciaNuovoVersamento" for="provinciaNuovoVersamento" class="col-lg-6 col-form-label">
                                              Provincia:</label>
                                          <div class="col-lg-4 col-value">
                                              <div>
                                              <!-- <sigas-spinner-form [diameter]="30" *ngIf="loaderConsProvince;  else elseProvinceCaricate"></sigas-spinner-form>
                                                <ng-template #elseProvinceCaricate>
                                                      <select class="form-control" id="provincia" [(ngModel)]="versamentoToSave.idConsumi"
                                                          name="provincia" >
                                                          <option *ngFor="let consumo of consumiPr" [value]="consumo.id_consumi">{{consumo.provincia_erogazione}}</option>
                                                      </select>
                                                </ng-template>-->
                                                <select class="form-control" id="provinciaNuovoVersamento" aria-labelledby="lblProvinciaNuovoVersamento"
                                                      [(ngModel)]="versamentoToSave.provincia"
                                                      name="provinciaNuovoVersamento" (change)="loadConsumoPerProvince()"
                                                      required>
                                                      <option>AL</option>
                                                      <option>AT</option>
                                                      <option>BI</option>
                                                      <option>CN</option>
                                                      <option>NO</option>
                                                      <option>TO</option>
                                                      <option>VB</option>
                                                      <option>VC</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                                  <div class="col-lg-3 hight">
                                      <div class="form-group row">
                                          <label id="lblTipoVersamentoNuovo" for="tipoVersamentoNuovo" class="col-lg-6 col-form-label">
                                              Tipo:</label>
                                          <div class="col-lg-6 col-value">
                                              <div>
                                               <sigas-spinner-form [diameter]="30" *ngIf="loaderTipoVersamenti;  else elseTipoVersamenti"></sigas-spinner-form>
                                               <ng-template #elseTipoVersamenti>
                                                    <select class="form-control" id="tipoVersamentoNuovo" aria-labelledby="lblTipoVersamentoNuovo" [(ngModel)]="versamentoToSave.tipo.idTipoVersamento" name="tipoVersamento" required>
                                                          <option *ngFor="let tipoVersamento of tipoVersamentiModel" [value]="tipoVersamento.idTipoVersamento">{{tipoVersamento.denominazione}}</option>
                                                    </select>
                                              </ng-template>
                                              </div>
                                          </div>
                                      </div>
                                  </div>                         
                              </div>
                              
                              <div class="row">
                                <div class="col-lg-4 hight">
                                      <div class="form-group row">
                                          <label id="lblDataVersNuovo" for="dataVersNuovo" class="col-lg-6 col-form-label">
                                              Data versamento:</label>
                                          <div class="col-lg-6 col-value">
                                              <div>
                                              <!-- 
                                                  <input type="date" class="form-control col-lg-11" id="dayVers"
                                                      [(ngModel)]="versamentoToSave.dataVersamento" name="dayVers"
                                                      #dayVers="ngModel"
                                                      min="{{ versamentoToSave.dataVersamento | date:'yyyy-MM-dd'}}"
                                                      required> -->
                                                      
                                                      <div class="input-group">                                                            
                                                          <input #dataVers="ngbDatepicker"
				                                               (click)="dataVers.toggle()"
				                                               [(ngModel)]="dataVersamento"
				                                               [footerTemplate]="footerTemplateDataVers"
				                                               class="form-control col-mg-8 col-lg-6 "
				                                               class="form-control"
				                                               name="dataVersNuovo"
				                                               id="dataVersNuovo"
                                                               aria-labelledby="lblDataVersNuovo"
				                                               ngbDatepicker
				                                               placeholder="gg/mm/aaaa"
				                                               readonly
				                                               required>
				                                        <ng-template #footerTemplateDataVers>
				                                            <hr class="my-0">
				                                            <button (click)="dataVersamento = null; dataVers.close();"
				                                                    class="btn btn-primary btn-sm m-2 float-left">Pulisci
				                                            </button>
				                                            <button (click)="dataVers.close();"
				                                                    class="btn btn-secondary btn-sm m-2 float-right">Chiudi
				                                            </button>
				                                        </ng-template>
				                                        <div class="input-group-append">
				                                            <button aria-label="data nuovo versamento" (click)="dataVers.toggle()" class="btn btn-outline-secondary calendar"
				                                                   type="button"> 
				                                                <svg _ngcontent-c4="" class="svg-inline--fa fa-calendar-alt fa-w-14" aria-hidden="true" 
                                                                focusable="false" data-prefix="far" data-icon="calendar-alt" 
                                                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" 
                                                                data-fa-i2svg="">
                                                                <title>Calendario</title>
                                                                <path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>
				                                                <!--<i class="far fa-calendar-alt"></i>-->
                                                            </button>
				                                        </div>  
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                             
                                  </div>  
                                  <div class="col-lg-4 hight">
                                      <div class="form-group row">
                                          <label id="lblImporto" for="importo" class="col-lg-6 col-form-label">
                                              Importo versato:</label>
                                          <div class="col-lg-6 col-value">
                                              <input type="number" class="form-control col-lg-7" id="importo" aria-labelledby="lblImporto"
                                                  placeholder="Importo" [(ngModel)]="versamentoToSave.importo"
                                                  name="importo" #importo="ngModel" min="0" required>
                                          </div>
                                      </div>
                             
                                  </div>  
                                  <div class="col-lg-4 hight">
                                      <div class="form-group row">
                                          <label id="lblNoteNuovoVersamento" for="noteNuovoVersamento" class="col-lg-3 col-form-label">
                                              Note:</label>
                                          <div class="col-lg-9 col-value">
                                              <!--
                                              <textarea class="note-textarea" rows="4" [(ngModel)]="versamentoToSave.note" id="note" [ngModelOptions]="{standalone: true}">
                                              </textarea>
                                              -->
                                              <textarea class="note-textarea" rows="4" [(ngModel)]="versamentoToSave.note" name="noteNuovoVersamento" id="noteNuovoVersamento" aria-labelledby="lblNoteNuovoVersamento">
                                            </textarea>
                                          </div>
                                      </div>
                             
                                  </div>     
                                      
                              </div>
                              <div class="bs-example" data-example-id="single-button-dropdown">
                                  <div class="form-group row col-lg-12">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                          <div class="btn-group">
                                              <a class="btn btn-default margin-icon btn-standard"
                                                  (click)="goBackVersamenti()" role="button">
                                                  <i class="fa fa-angle-left"></i>
                                                  indietro</a>
                                          </div>
                                          <div class="btn-group">
                                              <button *ngIf="nuovoVersamento" type="submit" [disabled]="!insNuovoVersamento.form.valid || isSaveDisabled"
                                                  class="btn btn-primary margin-icon btn-standard">
                                                  <i class="fas fa-angle-down"></i> Salva versamento</button>
                                              <button *ngIf="updateVersamento" type="button" [disabled]="!insNuovoVersamento.form.valid"
                                                  class="btn btn-primary margin-icon btn-standard" (click)="onClickModifica()">
                                                  <i class="fas fa-angle-down"></i> Modifica versamento</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
          </div>
    </div>