//Import di sistema
@import '../../../color.scss';

//Dichiarazioni dispositive
.row-spaced-top {
    margin-top: 20px;
}

//Radio
.radio-inline {
}

//radiio in line gestione
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px;
    margin-left: -20px;
}

/*Gestione H1 font*/
.h1-font {
    font-size: 1.1em; /* 40px/16=2.5em */
}