//Dichiarazioni dispositive
.alert-container {
    position:relative; padding:30px 30px 30px 80px; color: #000; border-radius: 0; border-width:0 0 0 5px;
}
// ---------------- 
.alert-icon { color: #000; position: absolute;font-size: 3em;  left: 20px;  top: 18px; } 
// ---------------- 
.alert-danger {  background: #F1DDDE;   border-left-color: #E2352E; } 
// ---------------- 
.alert-info{ background:#DAEEF6; border-left-color: #01B5EA;} 
// ---------------- 
.alert-success{ background:#DFF1D9; border-left-color: #5CB875;} 
// ---------------- 
.alert-warning {background: #FDFAE7; border-left-color: #FFF057;} 
// ----------------     
