<!--Component-->
<ol class="breadcrumbs" *ngIf="breadcrumbsEnabled">
  <li>
      <a routerLink="" class="breadcrumbs"><span class="text-color-under">Home</span></a>
  </li>
  <!--Router link-->
  <li *ngFor="let breadcrumb of breadcrumbs">
      <div class="text-color"> /        
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]" queryParamsHandling="merge"><span class="text-color-under">{{ breadcrumb.label }}</span></a>        
      </div>
  </li>
  <div class="arrow-blue">&nbsp;</div>
</ol>
<!--Component-->